[2018-10-27 10:52] rdebusscher opened #2 "Option to include Server specification parts in maven POM (and not as profile)"
At this moment, the selection of an implementation server results in the addition of a profile into the pom file.
It defines the server specific things to generate the uber-jar/fat jar for example.

But having a profile is not as developer friendly as could be.

The idea of using the profile was that the generated project should be implementation agnostic. An important aspect of having a specifica

[2018-10-27 10:52] rdebusscher opened #3 "Add support for TomEE 8"

[2018-10-27 10:53] rdebusscher opened #4 "Add support for Helidon"

[2018-11-19 10:06] OndroMih opened #7 "Use defaults in the form fields"
The current preview at http://mp-starter-jessie.1d35.starter-us-east-1.openshiftapps.com/mp-starter/main.xhtml;jsessionid=ZfUVsyTf581Ma3eyA-ZI8tt8G9NYNa_DnW9tJUBt.mp-starter-1-5mp87?dswid=-1840 has some required fields which don't have default values. So users need to fill them.

Since very often people would just want to get started quickly and refactor later, it would be helpful to fill all requ

[2018-12-05 07:16] rdebusscher opened #12 "Update design to match microprofile.io site"
A new design will be created with matching CSS to the microprofile.io site.

[2018-12-06 06:50] rdebusscher opened #13 "Docker build script"
Docker build script to deploy application.

[2018-12-06 06:50] rdebusscher commented on #13
See https://github.com/eclipse/microprofile-starter/pull/11

[2018-12-11 20:18] dblevins opened #14 "Design layout of start.microprofile.io"
Graphic design task of creating a layout for start.microprofile.io

[2018-12-11 20:24] dblevins opened #15 "Convert design into flat HTML/CSS"
Andrii,

Take the design from #14 and create a flat page of html and css that conforms to the design.

Here is the html in-the-works.  If we happen to get near it, that will likely help Rudy.

 - http://mp-starter-jessie.1d35.starter-us-east-1.openshiftapps.com/mp-starter/

Feel free to submit it as a PR in any new directory of the codebase.  Then you'll at least be in the commit history.  Rudy ca

[2018-12-16 09:04] rdebusscher commented on #12
see https://github.com/eclipse/microprofile-starter/issues/15

[2018-12-16 09:04] #12 closed

[2018-12-28 11:16] rdebusscher commented on #7
Within the updated layout, the proposal for groupId and artifactId are used

GroupId: com.example
ArtifactId: demo

https://github.com/rdebusscher/microprofile-starter/commit/5fab9e5fd944212ac80490f9e020cb648227278d

The version still needs to be selected as there are too little runtimes supporting the latest versions.

[2018-12-28 12:54] rdebusscher opened #17 "Add instructions on usage"
Add some instructions on the page how to proceed. Requested by @cealsair.

[2018-12-28 12:55] rdebusscher commented on #17
Proposal
<img width="749" alt="screenshot 2018-12-28 at 13 54 41" src="https://user-images.githubusercontent.com/1228265/50515971-39ae0480-0aa8-11e9-8029-40265de146a9.png">

[2018-12-29 19:35] cealsair opened #18 "Add a project creation counter to track usage"
It would be very useful to add a counter every time a project is created using the MicroProfile starter. This would be a very useful metric to track adoption in the market. Thanks.

[2018-12-29 19:39] Karm commented on #18
The application and the site ceases to be stateless then.

Note we already have data from CloudFlare when it comes to traffic / active users etc.

[2018-12-30 08:11] cealsair commented on #18
Good point. How could we know that 1 million projects were created using the starter app? Any ideas? Could CloudFlare tell us this?

[2019-01-04 11:19] rdebusscher opened #19 "Update JWT auth examples to 1.1"
The location of the key is standardized in JWT Auth 1.1 release. The example does not make use of this and still uses implementation specific logic.

[2019-01-04 11:23] rdebusscher commented on #15
This can be closed I guess since PR from @Dexmaster is merged.

[2019-01-08 13:39] rdebusscher opened #20 "Document how MP Implementation can be added to Version dropdown"
When a vendor updates the implementation, what steps need to be done to have the implementation show up in the drop-down for a specific MP version.

[2019-01-08 14:07] rdebusscher commented on #18
Decided on today's meeting

@Karm -> Forsee some storage of JSON (on AWS?) callable by REST
@rdebusscher -> Store JSON (through REST) for each click on the download button with all Form data.

[2019-01-08 15:10] cealsair opened #21 "Add "BETA" banner on landing page"
Ryan St. James - Add a banner “BETA” somewhere on the landing page.

[2019-01-08 15:11] cealsair opened #22 "Remove all menu items from current draft of landing page"
Ryan St. James - to remove all menu items from the top banner (including SEE THE CODE button) and slide up the starter input screen up.

[2019-01-08 15:13] cealsair opened #23 "Add footnote on landing page with link to provide feedback about starter"
Ryan St. James - to add a footnote on landing page of start.microprofile.io for people to provide feedback pointing to the MP starter Github repo ISSUES page

[2019-01-08 17:37] Emily-Jiang commented on #21
@rstjames please take this on

[2019-01-08 17:37] Emily-Jiang commented on #23
@rstjames please take this on

[2019-01-08 17:37] Emily-Jiang commented on #22
@rstjames please take this on

[2019-01-10 08:15] rstjames commented on #22
Ok the menu will be removed but from a UX point of view it doesn't follow a standard. "Starter" is a different url and it is strange that the logo would take you back MP.io. Not sure what it hurts to put a small menu. But up to you guys.

[2019-01-10 09:31] rstjames commented on #23
You can see the CTA to allow people to give feedback. Of course the text can be adjusted.
![mp-starter-jan9](https://user-images.githubusercontent.com/12132146/50959291-e3d35680-14c2-11e9-9aca-381a935930c2.png)

[2019-01-10 15:29] rdebusscher opened #24 "Cleanup initial import"
There are a few things which needs to be cleaned up from the intial import

- remove Atbash dependencies (just a general RuntimeException and Programmatic retrieval of CDI bean)
- Remove Java EE templating files (unused)
- other small things

[2019-01-14 17:32] Emily-Jiang opened #26 "MicroProfile 2.0 release generator not populating pom.xml correctly"
When using MicroProfile starter to generate a project on Open Liberty and MicroProfile 2.0/1.4. The pom.xml does not contain any liberty plugin, which is present when generating against MicroProfile 1.3 release.
Below is the example pom.xml it generated.
[code]

The pom.xml if choosing MicroProfile 1.3
[code]

[2019-01-14 17:40] Emily-Jiang opened #27 "No Rest Client related artifact being generated"
The starter does not generate any rest client Java classes. I think it needs to generate a Rest Client and a microprofile-config.property file with a backend url for the client.

[2019-01-17 00:20] Karm opened #28 "Implement logging of downloads with simple DynamoDB on AWS"
Regarding #18
Concerns mostly:
@Emily-Jiang @cealsair @rdebusscher

Hi guys, so this is what I suggest as a solution. if it doesn't stir up any opposition I will go ahead and forge this little demo into an application scoped bean callable from [GeneratorDataBean.java](https://github.com/eclipse/microprofile-starter/blob/master/src/main/java/org/eclipse/microprofile/starter/view/GeneratorDataBean.j

[2019-01-17 00:22] Karm commented on #18
@Emily-Jiang I suggest we close this one and carry on here: #28

[2019-01-17 06:41] rdebusscher commented on #28
@Karm
I have already the method which creates the JSON and sending it can be done by using a Runnable and the HttpURLConnection and scheduled by the ManagedExecutorService.

Can't we just send a JSON to an endpoint instead of adding the AmazonDynamoDB dependency?

[2019-01-17 07:14] rdebusscher opened #29 "Add example for OpenTracing"
No example code for OpenTracing is generated.

[2019-01-17 07:43] Karm commented on #28
@rdebusscher We can do anything we want :smile:

To use JSON with the aforementioned example, one would simply call:

[code]

Regarding just using HTTP POST somewhere, well, I can whip up a tiny Go service that would talk to the DynamoDB. Or cal teh AWS Dynamo endpoint directly. Note that there would have to be some additional logic on our side with signing headers etc.
It is true that the DynamoD

[2019-01-17 10:46] rdebusscher commented on #28
No problems with DynamoDB as such.

I was just making the remark of changing 10 lines with no additional dependencies with the integration of DynamoDB client.

Hardcoded linking to a certain solution which might change is something the others should also give their feedback on.

But when it is easier to do it this way, fine for me.

[2019-01-17 11:43] Karm commented on #28
@rdebusscher It won't be 10 lines, because one has to sign the request header and that is a little laborious, but I have done something like that in the past for Azure storage, [signing requests](https://github.com/Karm/mod_cloud_storage/blob/master/src/main.c#L125).  So I can do it for AWS here too to access DynamoDB. Then one could simply do POST with HttpURLConnection. Ad hard linking to a part

[2019-01-17 13:10] Karm commented on #28
@rdebusscher O.K. I have it prototyped, pure HTTP POST, no AWS SDK library.  Gonna flash it out and share here later, maybe today, maybe tomorrow.

[2019-01-17 13:23] cealsair commented on #23
Feedback:
- Please remove "MicroProfile.io" and Join The Discussion" links from top right corner.
- Please remove the "Welcome to" line of mockup above.
- Please remove some of the padding between fields in input form. These two will push up the input screen somewhat higher up on the display. And fonts too.
- Please move Feedback link to top right corner of screen (remove the big yellow rectangle

[2019-01-17 13:37] cealsair opened #31 "Review usage of Reflections package library"
Rudy will investigate the usage of the Reflections package within the app and see if he can remove it now that the app only covers MicroProfile and not Java EE.

[2019-01-17 13:43] #15 closed

[2019-01-17 18:42] #24 closed

[2019-01-18 10:24] rstjames commented on #23
@rdebusscher
Here is a list of changes we discussed. Also some tweaks to improve the UX. Below the list you will find a visual with comments and next to it a comparison of the most up to date design. They will not align perfectly but I hope this helps. Also attached the white png MP logo.

@cealsair did I miss anything?

**Top banner:**
1. white MP logo
2. remove "welcome to"
3. Heading and sub he

[2019-01-18 14:43] cealsair commented on #23
Looks good to me. Thank you Ryan!

Sent from my iPhone

[2019-01-20 14:52] rdebusscher commented on #31
Also, the DeltaSpike dependency can be removed.

This will be covered in this ticket too

[2019-01-21 23:25] Emily-Jiang opened #32 "Change Liberty to Open Liberty"
In the app server list, please change Liberty to Open Liberty.

[2019-01-21 23:27] Emily-Jiang opened #33 "Add a number of app servers for local testing"
At the moment, the microservices run on Thorntail. In local environment, it is good for people to switch runtimes like Open Liberty, Payara, KumuluzEE, TomiEE, etc.

[2019-01-21 23:29] Emily-Jiang opened #34 "Internal issue detected, no profile found for 'liberty-2.0'."
When I choose MicroProfile 2.0  and Liberty, I got
Internal issue detected, no profile found for 'liberty-2.0'.

[2019-01-21 23:49] Emily-Jiang opened #36 "Update pom.xml for Open Liberty code generation"
Update to use the latest liberty image and maven plugin.

[2019-01-22 11:00] rdebusscher commented on #34
Happens with all server - version combinations when the combination is selected a second time.

[2019-01-22 12:48] rdebusscher commented on #13
PR is merged.

[2019-01-22 12:48] #13 closed

[2019-01-22 13:04] rdebusscher commented on #26
Caused by a more general bug. see #34.

[2019-01-22 13:04] #26 closed

[2019-01-22 14:48] rdebusscher commented on #31
PR approved and merged

[2019-01-22 14:48] #31 closed

[2019-01-22 14:51] rdebusscher commented on #32
Fixed by https://github.com/eclipse/microprofile-starter/pull/39 which defines a server name used within the dropdown.

[2019-01-22 14:51] #32 closed

[2019-01-22 14:53] #34 closed

[2019-01-22 15:12] cealsair commented on #33
What do you mean? Are you referring to the starter application? Because the downloaded/generated samples run on whatever runtime you indicate you want to run on. Confused.

[2019-01-22 15:17] cealsair opened #41 "Internal Error when selecting only 1 API - using test-start"
Using the currently deployed test-start application,
When selecting:
- MicroProfile Version: MP 1.2
- MicroProfile Server: thorntail-v2
- beans.xml: Implicit
- Samples for specifications: only Config checked (the rest of them are unchecked)

You get the error message:
Internal issue detected, no profile found for 'thorntail-v2-1.2'.

[2019-01-22 15:19] rdebusscher commented on #41
Duplicate of #34

[2019-01-22 15:19] #41 closed

[2019-01-22 19:16] rdebusscher commented on #23
@rstjames @cealsair @Emily-Jiang It is not the final version but I tried to address most issues/improvements and I have put it online for review.

[2019-01-23 08:38] Karm commented on #28
@rdebusscher I have the Java version ready, no dependencies on anything but standard javax.crypto., java.security., javax.xml., java.net.

I will draft a PR before noon. If you show me your draft of where exactly you want to produce the data, I can hook it right away to that place. If not, I post just a standalone utility class for you to use.  Note the JSON has to have a particular format definin

[2019-01-23 12:21] cealsair commented on #28
+1 for adding an extra field that allows to identify came from testing or actual prod load (maybe URL)?

Sent from my iPhone

[2019-01-23 13:06] Karm commented on #28
@rdebusscher See #42 that adds the utility. I will send you keys so as you can try it.

This is what it logs now:

[code]

## To address some questions / remarks:

Removed.

So far PR contains just the utility, stateless static method that could be called from your worker/runnable. If the API seems fine, I can add the integration to GeneratorDataBean.

@cealsair :
There is the webAppInstanceID whi

[2019-01-24 13:17] cealsair opened #43 "Microprofile needs capital P on test landing page"
On the landing page for the test Starter, please update the word Microprofile in the title from:
Microprofile
To:
MicroProfile

Note that MicroProfile has a capital P

Thanks,
Cesar

[2019-01-24 13:19] cealsair opened #44 "Generated readme.md still says Jessie"
Please change the reference to Jessie to "MicroProfile Starter"

Thanks,
Cesar

[2019-01-24 13:34] Karm opened #45 "javax.servlet.ServletException: View /index.xhtml could not be restored."
if you open the app and generate some dome zip, then restart the container but leave the app open and then try to generate something again, it fails with Internal Server Error and spits the underlying exception.  One has to reload the webpage to make it work again which is counter intuitive.

@rdebusscher Could you shed some light?  I am running with the contents of #42 , but I guess it applies to

[2019-01-24 13:39] rdebusscher commented on #45
After timeout.
Nice error message.

[2019-01-24 14:10] Emily-Jiang opened #46 "CQ for MicroProfile-starter"
We need to do CQ for starter
com.fasterxml.jackson.core:jackson-annotations:jar:2.8.0:compile
com.fasterxml.jackson.core:jackson-core:jar:2.8.5:compile
com.fasterxml.jackson.core:jackson-databind:jar:2.8.5:compile
com.fasterxml.jackson.dataformat:jackson-dataformat-yaml:jar:2.8.5:compile
com.google.guava:guava:jar:18.0:compile
com.sun.mail:javax.mail:jar:1.5.0:provided
javax.activation:activation:

[2019-01-24 14:11] rdebusscher commented on #46
Jackson dependencies will be upgraded to 2.8.6 because that is already cleared

[2019-01-24 20:11] #18 closed

[2019-01-24 20:21] rdebusscher opened #48 "Issues with generated project"
Layout
- Download button not aligned.

pom.xml
- Add activeByDefault true
- define <finalName> as reference to artifactId.

Readme.md
- Mentioning Jessie (see also #44)
- update mvn package command (no profile name required anymore)
- Indicate how executable JAR can be launched
- Indicate URL for the browser

RestApplication.java
- @LoginConfig is always and should only be there when JWT Auth exam

[2019-01-24 20:34] rdebusscher opened #50 "Define version as 0.8"
- Maven pom version
- Docker tag

This also needs thus an update of the description in Container/readme.md

[2019-01-24 20:35] rdebusscher opened #51 "Update Jackson dependencies to version 2.8.6"
A newer version which has already CQ record.

[2019-01-24 20:40] rdebusscher commented on #4
Deferred until Helidon fully support MicroProfile 1.2

[2019-01-27 20:11] rdebusscher opened #52 "Use MP Config for retrieving properties AWS DynamoDB sending"
replace System.getProperty usages in DynamoDBLogger with MP Config.

[2019-01-30 06:32] rdebusscher commented on #4
The https://github.com/eclipse/microprofile-starter/commit/d7df5afa0bac5dfa25a1de8dee7c956fec6b5713 was included by mistake and later reverted.

Deferred until Helidon fully support MicroProfile 1.2

[2019-01-30 07:20] rdebusscher opened #55 "Remove moduleStructure property"
Left-over from the original tool, not used within Microprofile Starter

[2019-01-30 07:57] rdebusscher commented on #7
Merged into master. Closing

[2019-01-30 07:57] #7 closed

[2019-01-30 07:59] rdebusscher commented on #21
Merged into master https://github.com/eclipse/microprofile-starter/commit/ade7433cf2b004273da95ffb4cd5c85934df099d

[2019-01-30 07:59] #21 closed

[2019-01-30 07:59] rdebusscher commented on #22
Merged into master https://github.com/eclipse/microprofile-starter/commit/ade7433cf2b004273da95ffb4cd5c85934df099d

[2019-01-30 07:59] #22 closed

[2019-01-30 08:00] rdebusscher commented on #23
Merged into master https://github.com/eclipse/microprofile-starter/commit/ade7433cf2b004273da95ffb4cd5c85934df099d

[2019-01-30 08:00] #23 closed

[2019-01-30 08:01] rdebusscher commented on #55
Remove org.eclipse.microprofile.starter.core.model.SupportedServer : unused

[2019-01-30 08:34] rdebusscher opened #58 "Review TODO and FIXME"
- If they come from the initial project and no more valid -> remove
- If it is easy to fix -> Fix
- Create GitHub Issues for remaining fixes.

[2019-01-30 08:37] rdebusscher commented on #55
Remove unused 'project' templates within _/resources/templates_

[2019-01-30 08:49] rdebusscher opened #59 "Make JWT Auth example dependencies Server implementation specific"
For the JWT Auth example (within Maven test directory), there are some dependencies used like a Rest Client implementation.

This is now the Jersey client, but this should be changed to something 'related' to the server implementation

Jersey -> KumuluzEE, Payara Micro
Apache CXF -> Liberty
RestEasy ->  WildFly Swarm, Thorntail.

[2019-01-30 23:18] Emily-Jiang commented on #46
com.google.guava:guava:jar:18.0:compile
com.sun.mail:javax.mail:jar:1.5.0:provided
javax.activation:activation:jar:1.1:provided

ognl:ognl:jar:3.1.10:compile
org.apache.commons:commons-lang3:jar:3.4:compile

org.attoparser:attoparser:jar:2.0.1.RELEASE:compile
org.codehaus.plexus:plexus-component-annotations:jar:1.6:compile
org.codehaus.plexus:plexus-interpolation:jar:1.21:compile
org.codehaus.plex

[2019-01-30 23:40] Emily-Jiang commented on #46
@rdebusscher can you upgrade org.slf4j:slf4j-api:jar:1.6.6:compile to 1.7.25 as it has CQ approved already?

[2019-01-31 12:43] rdebusscher commented on #46
@Emily-Jiang I'll test it out with 3.0.10 version

[2019-01-31 13:22] Emily-Jiang opened #61 "CQ for Thorntail usage by MicroProfile-starter"
We need to create CQ for Thorntail 2.2.1.FINAL.

[2019-01-31 13:34] Emily-Jiang commented on #61
opened [CQ18884](https://dev.eclipse.org/ipzilla/attachment.cgi?bugid=18884)

[2019-01-31 13:57] rdebusscher commented on #3
Based on PR https://github.com/eclipse/microprofile-starter/pull/54

[2019-01-31 13:57] cealsair opened #62 "Define process to include new implementations in MicroProfile Starter"
We need to define a process on how to include new MicroProfile implementations into MicroProfile starter.

[2019-01-31 20:08] rdebusscher opened #64 "Upgrade ThymeLeaf dependency to 3.0.10.RELEASE"
see https://github.com/eclipse/microprofile-starter/issues/46#issuecomment-459155463

[2019-01-31 20:12] rdebusscher commented on #46
@Emily-Jiang Changing ThymeLeaf dependency also changes some other dependencies versions.  This is important for the CQ requests!

[code]

[2019-02-01 15:32] kenfinnigan opened #66 "Add MP 2.1 to spec versions"

[2019-02-01 18:37] rdebusscher commented on #66
Since Open Liberty and Thorntail supports 2.1 it is indeed a good time to add 2.1 and assign these 2 implementations.

[2019-02-01 18:38] #64 closed

[2019-02-01 18:38] #51 closed

[2019-02-01 18:40] #55 closed

[2019-02-01 18:53] rdebusscher commented on #28
PR merged.

[2019-02-01 18:53] #28 closed

[2019-02-03 11:02] rdebusscher opened #70 "Some UI improvements"
From Ryan

- Disable autocomplete on input fields
- Reduce top padding on "Project Options"
- Add spacing between "Download" button and exclamation mark.

![ui-improvements](https://user-images.githubusercontent.com/1228265/52175919-8ec9ee00-27ab-11e9-9ab0-dc80691c3511.jpg)

[2019-02-03 16:34] cealsair commented on #46
Updated list after Rudy upgraded to org.thymeleaf:thymeleaf:jar:3.0.10.RELEASE:compile:

[com.google.guava:guava:jar:18.0:compile](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=18877)
[com.sun.mail:javax.mail:jar:1.5.0:provided](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=18878)
[javax.activation:activation:jar:1.1:provided](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=18879)
[ognl:ognl:j

[2019-02-03 16:35] cealsair commented on #46
@Emily-Jiang I created all remaining CQs

[2019-02-05 14:38] Karm opened #72 "Replace default https://test-start.microprofile.io/favicon.ico"
Let's consider providing favicon.ico for the app.  Microprofile logo?

[2019-02-05 22:43] Karm commented on #72
Resolved in #73

[2019-02-06 15:24] Karm opened #74 ""Give feedback" button in the top right corner does not point to Github issues"
![screenshot](https://user-images.githubusercontent.com/691097/52351744-a1525a80-2a2b-11e9-8d36-8c415cab1ba0.png)

[2019-02-07 10:04] OndroMih commented on #33
I think that anyone can contribute with a PR if they manage to run on another platform. We don't need to do it proactively, do we? I would close this issue.

[2019-02-07 10:16] OndroMih opened #75 "When a runtime selected, show a URL with more resources about that specific runtime"
Aimed at complete newcomers who don't understand that MicroProfile is just an interface and there's always an implementation they have choose. I believe this will help people understand what's actually going on inside their project and where to find out more about the underlying runtime they chose.

Each runtime should have an associated URL, which will be used to display a link to more resources

[2019-02-07 10:21] OndroMih opened #76 "Populate the list of MicroProfile versions when the Server is selected"
Currently, MicroProfile Server field is disabled until MP version is selected. This forces to first select the version and then runtime. Sometimes a desired runtime doesn't support the selected version and the user has to try several versions until they find their desired runtime.

Proposal:

If version isn't selected, let the Server field enabled and populate it with all the available Servers. Th

[2019-02-07 10:23] OndroMih opened #77 "Sort versions in MicroProfile Version selecter from latest to oldest"
Currently, versions in the selector for MicroProfile Version displays possible versions from oldest to latest:

![image](https://user-images.githubusercontent.com/2195988/52405056-bdf19f80-2aca-11e9-818c-0e20ae04181b.png)

People usually want to use the latest, so it should be at the top rather than at the bottom.

[2019-02-07 11:33] rdebusscher commented on #66
PR not merged yet into master

[2019-02-07 13:42] kenfinnigan commented on #76
I'm not sure if such a change would be beneficial.

I wouldn't expect users that already have a favorite or preferred runtime to use a generic MP starter to create their project. If a user only ever wants to use Thorntail, for instance, I would expect them to use https://thorntail.io/generator/ instead of the MP starter.

I see the MP starter as catering to those that don't have a runtime preferen

[2019-02-07 14:56] OndroMih commented on #66
Oh, I see 2.1 is already at start.microprofile.io so I assumed it's resolved

[2019-02-08 08:39] Karm commented on #74
@Emily-Jiang 'cause Rudy has fixed it already.

[2019-02-09 14:43] alexmacavei opened #79 "Allow dash in artifactId"
Hey,

Would it be possible to allow dash in the artifactId name? ex. user-service is not allowed.

Thanks,
Alex

[2019-02-11 17:22] aalmiray opened #80 "Enabled Gradle project generator at start.microprofile.io"
It would be great if start.microprofile.io had an option to generate a Gradle project, besides being able to generate (currently) a Maven project.

I can help with prototyping the feature, mentoring, and support.

[2019-02-12 08:08] rdebusscher commented on #3
Merged https://github.com/eclipse/microprofile-starter/commit/7f02e25cafa46d5c53f02fc576f182b45e13f344

[2019-02-12 08:08] #3 closed

[2019-02-12 08:18] #43 closed

[2019-02-12 08:18] #44 closed

[2019-02-12 08:19] #48 closed

[2019-02-12 08:23] #70 closed

[2019-02-12 08:27] #66 closed

[2019-02-12 08:44] rdebusscher commented on #72
Merged through https://github.com/eclipse/microprofile-starter/commit/baae2f9801fa45fb6593f09ea3aae643545531d6

[2019-02-12 08:44] #72 closed

[2019-02-12 08:49] #74 closed

[2019-02-12 08:53] rdebusscher commented on #61
@Emily-Jiang @cealsair CQ is awaiting Source code attachment

[2019-02-12 09:00] rdebusscher commented on #46
I checked the status of the CQ's

org.primefaces:primefaces:jar:6.1:compile -> missing source code attachment
ognl:ognl:jar:3.1.12:compile -> Awaiting committer but no reason mentioned.

@cealsair can you have a look at it?

The rest is approved

[2019-02-12 09:18] rdebusscher opened #84 "Update source code to align with code conventions"
For example, we violate the final modifier rule https://wiki.eclipse.org/EGit/Contributor_Guide#Use_of_the_.22final.22_modifier

[2019-02-12 09:22] Karm commented on #84
@rdebusscher Assign to me as I am mostly the guilty one.

[2019-02-12 09:23] Karm opened #85 "Add Maven checkstyle enforcer plugin with a reasonable configuration following Eclipse standards"

[2019-02-12 09:24] Karm commented on #85
@rdebusscher  as per #84

[2019-02-12 09:30] rdebusscher commented on #84
@Karm We can assign only MP committers as the assignee (a known feature). I leave the assignee empty in such cases.

[2019-02-13 17:27] cealsair commented on #61
I just uploaded the source files in a ZIP file.

[2019-02-13 17:32] cealsair commented on #46
@rdebusscher I have added a comments about having already uploaded the source files for both CQs on February 3, 2019 and returned the CQ back to the IP Team. Let's see what they reply. Thanks.

[2019-02-14 14:42] cealsair commented on #46
Latest note from Eclipse Foundation IP Team:
=======
--- Comment #8 from Sharon Corbett <sharon.corbett@eclipse-foundation.org>  2019-02-13 18:05:11 ---
Preliminary triage indicates LGPL content included which is not generally
approved for Eclipse distribution:

primefaces-6_1/src/main/resources/META-INF/resources/primefaces/dock/assets/iepngfix.htc

AND

JSON content which is subject to a modifie

[2019-02-14 14:48] rdebusscher commented on #46
@cealsair

No, not really. I cannot modify PrimeFaces.

So the only option we have is to drop PrimeFaces, JSF and thus the complete UI we have now.

[2019-02-15 06:28] rdebusscher commented on #4
https://github.com/oracle/helidon/releases/tag/1.0.0

[2019-02-15 10:28] prabusubra opened #87 "MicroProfile Server selection is not working"
Check the below image. I am not able to select microprofile servers.
![image](https://user-images.githubusercontent.com/2601989/52850742-3810cc80-313a-11e9-847f-9aba23e6d05d.png)

[2019-02-15 10:32] Karm commented on #87
@prabusubra You need to select
[code]
first.

[2019-02-15 12:11] rdebusscher commented on #87
There is already a request so that the MicroProfile server can be selected before the Version is selected. see https://github.com/eclipse/microprofile-starter/issues/76.

No decision yet made on that one, nor implemented.

[2019-02-15 14:38] #87 closed

[2019-02-16 16:42] MBJuric opened #88 "Integrate KumuluzEE 3.2"
Hello,
We would kindly ask to include KumuluzEE to the list of supported MicroProfile servers. We will prepare the necessary code. Could you please give us short instructions what to prepare? Thanks in advance.
Matjaz

[2019-02-16 18:38] rdebusscher commented on #88
Hi Matjaz,

KumuluzEE is already available at MicroProfile starter when selecting version 1.2 as it was indicated on this page https://wiki.eclipse.org/MicroProfile/Implementation

If there are other versions which implement newer versions of MicroProfile let us know.

Rudy

[2019-02-18 13:59] cealsair commented on #46
Primefaces 7.0-RC3 has removed "evil clause" from MIT license. Created the following CQ for this prime faces release:
[https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19014](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19014)

[2019-02-19 19:47] mraible opened #89 "Is there a roadmap for start.microprofile.io?"
I’m writing an article on the MicroProfile Starter for InfoQ and I’m wondering if there are plans to have the following features:

1. A REST API
2. Support for Java 11
3. Gradle Support

Thanks!

[2019-02-19 20:02] rdebusscher commented on #89
Hi Matt,

Thx for your interest in this project.

There is no official roadmap (yet) but the issues should give already an idea of what we try in the next months.

* A REST API
     Not sure what you mean by this
* Support for Java 11
     Definitively now that the first implementations can be run on JDK 11
* Gradle Support
     See issue https://github.com/eclipse/microprofile-starter/issues/80

[2019-02-19 20:06] rdebusscher commented on #79
Hi Alex,

The artifactId is also used as part of the package name.

Can you indicate then how the conversion should be done to the package name? (since dash is not allowed in package name)

Thx

[2019-02-19 20:14] mraible commented on #89
Thanks for the fast response @rdebusscher!

By "REST API", I mean something similar to start.spring.io. If you hit it with `curl` or `http`, you get a list of options:

[code]

This API allows you to generate and download apps quickly from the command line, which is great for demos!

For example:

[code]

[2019-02-19 22:11] Emily-Jiang commented on #89
+1 on command line support! @mraible feel free to contribute!

[2019-02-19 22:16] Emily-Jiang opened #90 "Should beans.xml be on generator"
The beans.xml is listed on the generator page. I am wondering how useful it is.
Does people change the setting or bother to choose anything different other than the default?
Does people understand the consequence of choosing a different value for bean discovery mode?

I wonder whether displaying beans.xml add more confusion or white noise to the generator. Should we choose a sensible default and s

[2019-02-19 22:26] aguibert commented on #90
I felt the same way the first time I had a look at the website. All the rest of the options are extremely high-level (what java version, what technologies do you want to use, what app server).

The beans.xml is a very low-level detail in comparison to the other items, and feels out of place.

+1 for just giving the user the default

[2019-02-20 06:14] rdebusscher commented on #89
Hi @mraible,  REST API is indeed a good idea.

Can you open a separate issue for this? Th.

[2019-02-20 14:11] kwsutter commented on #90
For somebody that is using the starter in the first place, the prompt for the beans.xml is overkill and confusing.  Default it and skip the the prompt.

[2019-02-20 15:25] mraible opened #91 "Add a REST API so apps can be downloaded from the command line"
Add a REST API, similar to what start.spring.io has. If you hit start.spring.io with `curl` or `http`, you get a list of options:

[code]

This API allows you to generate and download apps quickly from the command line, which is great for demos!

For example:

[code]

[2019-02-20 15:26] mraible commented on #89
@rdebusscher Done! https://github.com/eclipse/microprofile-starter/issues/91

[2019-02-20 18:22] tomas-langer opened #92 "Specification issue with custom claims"
There is a section in the starter that uses the following:
[code]
As I have filed in https://github.com/eclipse/microprofile-jwt-auth/issues/117, this is breaking the spec (and is not allowed by our implementation).

Until the issue with the spec is resolved, could you please modify the starter to use `ClaimValue<JsonString>`?

[2019-02-20 18:43] tjquinno commented on #4
Hi, @rdebusscher. I work on the Helidon team and have already begun some work (locally) to add Helidon support to the starter.

I'm not sure if you want to assign this issue to me but I at least wanted people to know there is action on this.

[2019-02-20 19:22] rdebusscher commented on #4
Hi Tim,

We are unable to assign issues to non committers of MicroProfile.

You can also look at my PR as this should already cover the Helidon support completely (only the exclusion of the JWT_Auth sample is not needed anymore since it supports MP 1.2 fully)

[2019-02-20 19:28] rdebusscher commented on #92
Hi Tomas,

Thanks for this report.

Since all other implementations seem to have no problem with this, I suggest we keep this in but exclude it for Helidon.

Let us wait for the outcome of your issue to completely remove it for all implementaions.

[2019-02-20 19:28] rdebusscher commented on #92
Related with support for Helidon #4

[2019-02-20 19:57] tjquinno commented on #4
Understood.

I did see the commit in the earlier comments on this issue but didn't think to hunt down the merged PR.

I think we (Helidon) might like to make a few suggestions on the Helidon support. What's the best way for us to feed those to you?

[2019-02-20 20:08] tjquinno commented on #4
It turns out (although admittedly we did not make it obvious) that Helidon 0.11.0 supported MP 1.2.

At any rate, getting the earlier changes for Helidon support recommitted soon would be great. Any fine-tuning of the changes we agree on could be done later.

[2019-02-21 06:18] #50 closed

[2019-02-21 06:45] rdebusscher opened #94 "Upgrade PrimeFaces to 7.0"
We have to wait a few days before the final version is released

[2019-02-21 09:06] rdebusscher commented on #4
Hi @tjquinno,

I updated the PR to be compatible with the current version of the code. You can find it in [my Helidon branch](https://github.com/rdebusscher/microprofile-starter/tree/helidon)

The ClaimValue injection is removed for Helidon as mentioned in issue https://github.com/eclipse/microprofile-starter/issues/92 by Tomas.

The easiest way forward is probably that the Helidon team updates th

[2019-02-21 13:30] tjquinno commented on #4
Hi, @rdebusscher.

Thanks. That sounds good. We will provide a working demo.zip as you requested as well as a summary of what we've updated.

I need to focus on some other things for a couple days but I'll get back to this next week.

[2019-02-22 07:26] fspacek opened #96 "Add support for Dockerfile"
Hi,

It would be great if there is option to generate Dockerfile for selected application server based on official images.

Basically it would copy war to deployment directory and copy generated server configuration.

[2019-02-22 11:00] rdebusscher commented on #96
Hi František,

Using the official Docker Images will not (always) be possible. The Payara Docker Image, for example, allows you to run a WAR file, but the MicroProfile Starter is built around creating JAR files.

We can create a DockerFile which starts from a Java-based image but is this useful?

[2019-02-22 11:43] fspacek commented on #96
Hello Rudy,

good point, however I think it can be useful even in case of pure Java based image.

Such Dockerfile can be showcase of "best practices" how to bundle microprofile apps with proper JVM flags (important for Java 8).

Just curious support of WARs is not planned?

[2019-02-22 19:47] rdebusscher commented on #96
Most people find that MicroServices needs to be run from executable JAR files. They find that WARs are to tight linked to the 'old school' Application servers. (opinion of some, maybe not the truth :) )
However, when using WAR files, the docker Image Layer structure can be optimized.

MicroProfile Starter generates for most implementations a WAR file and afterward, it is packaged within an executa

[2019-02-22 19:48] rdebusscher commented on #96
Can you give a list of JVM parameters which you want to see? Because there exist also a lot of different opinions about that.

Then we can get the discussion started.

[2019-02-22 23:26] Emily-Jiang commented on #96
I was thinking along the similar line. I think it is a good idea to provide a docker image for each runtime since we are building cloud-native microservices.

[2019-02-22 23:29] Emily-Jiang commented on #90
I suggest to generate a beans.xml with the bean-discovery-mode="all" so that any additional classes added will work without any issues. The generated classes should have the correct bean-defining annotations specified as they are now. Thoughts?

[2019-02-23 07:58] alexmacavei commented on #79
Hey,

I guess there's 2 ways to achieve this. Either go the Maven way and define
the package separately from the artifactId, or simply strip the dash from
the package name.

What do you think?

Thanks!

În mar., 19 feb. 2019, 22:06 Rudy De Busscher <notifications@github.com a
scris:

[2019-02-23 19:46] rdebusscher commented on #79
Hi Alex,

Adding an inputField is not an option as we want to have as minimum as possible entry points for the user (to make it easy)

So we can go for your option 2, strip the dash from the package name.

[2019-02-23 19:55] rdebusscher commented on #77
See https://github.com/eclipse/microprofile-starter/pull/86

[2019-02-23 21:19] aeiras opened #98 "MP Starter Project needs historic documentation"
[cloned issue per @rdebusscher request 👍  ](https://github.com/eclipse/microprofile-marketing/issues/32)

[2019-02-23 23:01] Emily-Jiang commented on #79
If a dash is specified, we can simply treat it as a dot, which will be easier to read.

[2019-02-24 20:14] #45 closed

[2019-02-24 20:30] rdebusscher commented on #90
I do not agree with putting the discovery mode to _all_. It takes all classes (which meet the CDI requirements) as CDI beans which are probably many more than actually needed.
This puts additional processing and memory requirements on the applications which is undesired.

We have now the implicit value as default chosen and should keep it when the user no longer can select the value.

As you menti

[2019-02-25 06:41] fspacek commented on #96
Yes that was my point, that with WARs docker images can be pretty efficient.

Regarding JVM flags for java 8 (from update 131) at least two are needed
`-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap`.

From java 10+ it should be set correctly by default without any flags.

There is also possibility to fine grain heap allocation with `-XX:(Min|Max|Initial)RAMPercentage`.

[Refere

[2019-02-28 20:28] MBJuric commented on #88
Hi Rudy,
We now support MicroProfile 1.3, 1.4, 2.0 and 2.1: https://wiki.eclipse.org/MicroProfile/Implementation
More info: https://blog.kumuluz.com/product/announcement/developers/2019/02/28/kumuluzee-3.2.0-release

We would be very glad if KumuluzEE could be added to start.microprofile.io

If we can help somehow, please let me know.

Thanks, Matjaz

[2019-02-28 22:06] Emily-Jiang commented on #90
Thanks @rdebusscher for digging out the previous conversation! Reconsidered this.

Both approaches have advantage and disadvantages.

1. Not generate beans.xml
 - Any newly added classes need to have bean-defining annotations. Otherwise, the injection will not work.
+ less files, bean-defining annotations are carefully considered and added to a particular resource.
1. Generate beans.xml with bean

[2019-03-01 17:29] #77 closed

[2019-03-01 17:36] rdebusscher commented on #88
Hi Matjaz,

First of all congrats with this new release!

I will try to integrate the new version and test it out.

If I come across any issue or question, I let you know.

[2019-03-01 20:29] rdebusscher commented on #61
According to CQ comment, Thorntail contains LGPL only licensed files which is not approved for usage within Eclipse.

[2019-03-04 13:36] rdebusscher commented on #85
final check can be enforced, but not prevent the usage of it.

[2019-03-04 13:59] rdebusscher commented on #62
- Pass the TCK and list yourself on the [https://wiki.eclipse.org/MicroProfile/Implementation](MicroProfile implementation)
- If there is an issue with an example -> The example can be wrong if we don't follow the spec or TCK, or the implementation does something different then spec/TCK.

[2019-03-04 14:00] Emily-Jiang commented on #98
https://groups.google.com/forum/#!searchin/microprofile/starter%7Csort:date/microprofile/VS1xjtpYWj8/jjghPcxHBwAJ was first discussed in MP googlemail discussion IIRC

[2019-03-05 13:54] hutchig opened #102 "Generate and include jandex indexes in archives when server selected supports them"
As part of some of the instructions relating to whether we should have a beans.xml
one of the factors that comes up is the desire to reduce the scanning time.

Additionally, when competing against frameworks like micronaut or webflux
one of the sticks they use to beat on frameworks like our's is the startup time
and sometimes specifically the bean/war scanning done at deployment.

It is a 'good th

[2019-03-05 19:08] rdebusscher commented on #102
Hi Gordon,

Can you provide an example on how you can generate the Jandex using Maven (Open Liberty is fine)

Thx

[2019-03-06 09:50] hutchig commented on #102
Yes sure @rdebusscher here is an article that is already written to answer that:
[Overview](https://www-01.ibm.com/support/docview.wss?uid=ibm10745421)
[Generating Indexes](https://www-01.ibm.com/support/docview.wss?uid=ibm10744927)
[Enabling Jandex](https://www-01.ibm.com/support/docview.wss?uid=ibm10744925)
[Expeted Output and Troubleshooting](https://www-01.ibm.com/support/docview.wss?uid=ibm10

[2019-03-06 21:01] rdebusscher commented on #102
see forum discussion https://groups.google.com/forum/#!topic/microprofile/J6WpCKprI0w

[2019-03-07 14:54] rdebusscher opened #103 "Include Payara 5.191 as MP 2.1"

[2019-03-07 19:39] asept commented on #96
Hi,

i think, it‘s a good idea to have also a kubernetes configuration optional.

For my company, it’s very important to have small war files (kB) to shipping with docker...

[2019-03-11 11:54] #20 closed

[2019-03-11 12:22] Emily-Jiang commented on #102
Using jandex is only applicable to Weld while other application servers such as TomEE, which uses OWB. I am not sure what CDI implementation KumuluzEE uses. Anyway, I think from the mailing list discussion these are implementation details and the index files should not be generated.

[2019-03-11 12:42] hutchig commented on #102
@Emily-Jiang  The generator already is server specific and the user selects between the servers (Jandex supporting or not jandex supporting) on the front page before any artifacts are generated. The mailing list discusssion actually ends with (from @NottyCode https://groups.google.com/d/msg/microprofile/J6WpCKprI0w/p_ccVHAkBwAJ) "The starter could generate the right maven chips, or not, based on t

[2019-03-11 13:03] cealsair commented on #62
Please add following pre-requisites to the process to add an implementation:

1. Ensure that your implementation has passed the MicroProfile TCKs for an umbrella release.
2. Add your implementation under the right MicroProfile version at page [https://wiki.eclipse.org/MicroProfile/Implementation](MicroProfile implementation)
3. Create a GitHub issue for adding your implementation to the MicroProfi

[2019-03-11 14:47] rdebusscher commented on #88
Hi @MBJuric,

I have problems with running KumuluzEE 3.2 (but also 2.6)

When I start the jar file, I get this exception
[code]

When I replace the pom.xml with the one generated by the [KumuluzEE generator](https://ee.kumuluz.com/generator), I get This exception.

[code]

But the config property is there and can be resolved (verified during debug in com.kumuluz.ee.config.microprofile.cdi.ConfigPr

[2019-03-11 14:51] Emily-Jiang commented on #102
In my previous notes, I mentioned some implementations understand Jandex while others don't. Therefore, generating Jandex files in the starter is not something starter should aim for. If some implementation comes up with a plugin, that implementation can directly generate anything they want.

[2019-03-11 14:56] MBJuric commented on #88
Hi Rudy,
Do you have the META-INF/beans.xml file in your project: https://github.com/kumuluz/kumuluzee-samples/blob/master/kumuluzee-rest/src/main/resources/META-INF/beans.xml

If this doesn't solve the problem, please share your project and we will help debug.

[2019-03-12 08:00] rdebusscher commented on #90
See forum discussion https://groups.google.com/forum/#!msg/microprofile/eJimS3UhLSg/pVJr9kN7CQAJ

[2019-03-13 08:57] hpragt opened #106 "Resource leak: 'pemParser' is never closed"
Resource leak: 'pemParser' is never closed in /src/test/java/<<package>>/JWTClient.java

[2019-03-13 19:38] zvonegit commented on #88
Hi @rdebusscher, @MBJuric,

I forked the microprofile-starter and integrated KumuluzEE v3.2 with profiles (1.2, 1.3, 1.4, 2.0 and 2.1). To make the generated demo project work with KumuluzEE 3.2 I had to remove the jersey-client dependency from the generated pom.xml because it conflicts with the jersey dependencies in the KumuluzEE framework.

@rdebusscher, can you check if #109 resolves your issu

[2019-03-13 19:44] #85 closed

[2019-03-13 20:24] rdebusscher commented on #88
Hi @zvonegit,

I also found out that the beans.xml and the jersey-client where the cause and was updating my PR :)

I did made a few comments on your PR which needs to be addressed before I can merge it.

Thx
Rudy

[2019-03-14 19:17] zvonegit commented on #88
Hi @rdebusscher,

I've updated the PR #109 following your comments. Please check and let me know If any further changes are required.

Thank you

[2019-03-14 21:46] tjquinno commented on #4
Hi, again, @rdebusscher.

I've been waiting to get back in touch with you until we released 1.0.1 of Helidon, which we've just done. It contains some changes that make the Helidon/starter support a bit simpler. (There are some Helidon-specific config settings that allow us _not_ to have to wait for those outstanding MP security spec interpretation issue to be resolved.)

As you asked I am attachin

[2019-03-15 16:03] cealsair commented on #61
We held a meeting today with Kevin Sutter and it was determined that this CQ is un-needed. The runtime, i.e. Thorntail, that runs this web app, i.e. MicroProfile Starter, does not need to go through IP review. Emily agreed to withdraw this CQ from the IP review process. Thank you.

[2019-03-15 16:06] cealsair commented on #61
I just clicked on the "Withdraw this CQ" button and withdrawal took place. I thought Emily could only do this since she created the CQ. Sorry for the confusion. At any rate, CQ should be withdrawn by now.  Thanks.

[2019-03-15 17:48] rdebusscher commented on #61
Issue closed

[2019-03-15 17:48] #61 closed

[2019-03-15 18:54] rdebusscher commented on #4
Hi @tjquinno ,

Looks really good! Good to see that you have worked around the possible security spec interpretation.

Do you make the PR? then we can merge it afterward.

Regarding the update date, we have discussed this already but didn't come to an agreement yet. But since we have now several updates to MP Implementations (Helidon, KumuluzEE, and Payara) I hope we can do this by the end of this

[2019-03-15 19:01] tjquinno commented on #4
Hi, @rdebusscher

I've just created PR #114.

It failed the check (not surprisingly) because I'm not an approved submitter, but the PR is there for review.

[2019-03-18 12:23] cealsair commented on #46
Primefaces 7.0 fixed license issues. Created new CQ for Primefaces 7.0:
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=19320

[2019-03-18 12:38] rdebusscher commented on #90
Decision : Generate the `beans.xml` with mode all.

[2019-03-18 20:31] rdebusscher commented on #88
PR approved and integrated

[2019-03-18 20:31] #88 closed

[2019-03-25 13:12] #94 closed

[2019-03-25 13:13] #90 closed

[2019-03-25 15:30] #103 closed

[2019-03-26 11:06] #4 closed

[2019-03-26 13:38] OndroMih opened #121 "When a version is selected, show even servers for older versions with a comment about the latest supported version"
Currently, if MP version is selected, only servers that support it are available for selection. To show all MP implementations, it's necessary to select the oldest MP version. Even then it's not visible which latest version of MP these servers support.

I suggest that all servers are available for selection, with the following conditions

* servers that don't support the latest version are sorted

[2019-03-26 13:45] OndroMih commented on #121
This solvers 2 issues

* gives visibility to all implementations immediately, without forcing people to know which MP versions their favorite server implements
* enables to select the latest MP version by default in the version field so that it's easier to use the starter
* the form can show the list of all servers immediately, not only after an MP version field is selected (currently, the server

[2019-03-26 13:50] OndroMih commented on #76
It doesn't necessarily have to be only for newcomers to MicroProfile. I don't like fragmentation and users, (even Thorntail users) don't like it either. Power users know where to go for a thorntail starter, but those who are less power users or work with multiple servers, would find it convenient to use MP starter as a starting point.

This also goes well with my other suggestion, #75, where serve

[2019-03-26 13:54] OndroMih opened #122 "Select the latest MicroProfile version by default"
To make it easier to work with the starter, the latest version should be preselected.

This should be implemented together with #121 to resolve some concerns about that most servers don't implement the latest MP version and wouldn't appear in the default list of servers.

[2019-03-26 13:57] OndroMih commented on #7
I still strongly believe that the latest MP version should be selected by default. The starter should be as easy to use as possible and should require only the necessary amount of clicks and user input.

I raised this as #122, together with #121 to resolve @pilhuhn's concerns and make user experience better in general.

[2019-03-26 14:27] kenfinnigan commented on #121
Isn't that overly complicating the UI?

Is the starter the appropriate place to be guiding people as to all the MP versions and which implementations support which?

Isn't it easier to just link out to https://wiki.eclipse.org/MicroProfile/Implementation ?

[2019-03-27 12:35] cealsair opened #123 "Add Thorntail 2.4.0.Final under MicroProfile 2.2 server list"
On March 18, 2019, Thorntail announced support for MicroProfile 2.2:
https://thorntail.io/posts/announcing-thorntail-2-4-0-final/

Please add Thorntail in the list of servers that implement MicroProfile 2.2, when this is added to the Starter. Thank you.

[2019-03-28 18:07] rdebusscher commented on #123
Hi Cesar,

Can you add Thorntail 2.4 to the page of [MicroProfile implementations](https://wiki.eclipse.org/MicroProfile/Implementation).

[2019-03-28 18:08] rdebusscher opened #124 "Add MicroProfile version 2.2"

[2019-03-29 10:35] Emily-Jiang opened #125 "Add Java 11 to the supported Java versions"
Open Liberty and Thorntail both support Java 11. We should list Java 11 option in our starter.

[2019-03-29 10:44] Emily-Jiang commented on #125
put this on hold until the Hot spot security bug TLSv13 bug fix is available, which should be out soon.

[2019-03-29 11:05] hutchig commented on #125
+1

[2019-03-29 14:24] cealsair commented on #123
The addition has been made. Now it's waiting moderation by Eclipse Foundation.

[2019-03-31 19:04] rdebusscher opened #128 "Add OpenLiberty 19.0.0.3 under MP 2.2"

[2019-03-31 19:05] #124 closed

[2019-04-01 12:40] rdebusscher commented on #29
Documentation on how to
- Integrate with a collector like Jaeger, Zipkin, ....
- Link to blog/text specific for the implementation

[2019-04-01 12:43] cealsair commented on #125
Emily, why did you close this issue? Why don't we just keep it open so that we can track it and it's not forgotten?

[2019-04-01 13:17] Emily-Jiang commented on #125
Ah. I was worrying about it might be confusing. Let’s keep it open and mark it blocked.

[2019-04-05 21:35] lilian-benoit opened #133 "Template for Metrics don't run with metrics 1.1 (Microprofile >= 1.3)"
**use case :**
- generate demo application with MP Metrics
- start demo application
- call on /metric/increment. It's OK
- call on /metric/increment. It's KO

For second call, i obtain

In fact, **MP Metrics 1.1,**

[2019-04-05 22:12] cealsair opened #134 "MicroProfile 2.1 generated code for Thorntail - "Timed endpoint" link fails on second click"
Steps to reproduce:
- compile and run generated project
- on index.html landing page, click on "Timed endpoint" under Metrics section (this one works)
- a new window tab opens displaying message "Request is used in statistics, check with the Metrics call."
- close window tab opened in previous step
- on index.html landing page, click AGAIN on "Timed endpoint" under Metrics section

A new window ta

[2019-04-06 08:52] lilian-benoit commented on #133
This problem is usage of gauge and scope RequestScoped

.

[2019-04-08 14:59] rdebusscher commented on #133
Hi @lilian-benoit

I think there are 2 different types of 'reusing' a metric.

- Define the same metric on 2 different methods
- Define the metric only once but the scope of the resource makes that registration happens multiple times.

The latter is not a reuse and can be detected to keep track where the metric is initially found and thus registered. The scenario you describe does not fail for all

[2019-04-08 15:03] rdebusscher commented on #134
This error does not happen with all implementations and could be due to

- Differences in interpretation of the spec
- Bug in the implementation.

This is related with #133 and https://github.com/eclipse/microprofile-metrics/issues/364

[2019-04-08 15:04] rdebusscher commented on #134
As a workaround we can define the scope of the bean as `ApplicationScoped`

[2019-04-08 15:09] Karm commented on #134
@Ladicek, do you have any insight here?

[2019-04-08 15:34] Ladicek commented on #134
I don't know how the application looks like, but it seems it's using a metric that isn't reusable. So instead of making the bean application-scoped, perhaps the metric could be declared reusable?

[2019-04-08 18:26] rdebusscher commented on #134
Gauges can't be declared reusable, so ApplicationScope is the only solution.

But it seems as a Spec issue to me also.

[2019-04-09 06:32] Ladicek commented on #134
OK, I've seen `/metric/timed` and didn't notice `counter_gauge` :-) So I downloaded the app to take a look, and I agree the endpoint should probably be `@ApplicationScoped`. Very good reasoning here: https://github.com/eclipse/microprofile-metrics/issues/364#issuecomment-481119389

[2019-04-09 10:53] javahippie opened #135 "Change the Payara Maven Plugin template to automatically deploy the WAR"
Currently, when generating the application from the starter, the Payara Maven Plugin looks like this:

[code]
If configured this way, the application can be packed by using `mvn clean package` and then executed with `java -jar target/<application>.jar`. It is hard to connect those two commands with the IDE. It is possible to directly start the application with `mvn clean package payara-micro:start

[2019-04-09 12:36] rdebusscher commented on #135
Hi Tim,

The `<deployWar>` property is not set because it allows you to have automatic compile/deploy on NetBeans for example.

I'll have a look to see if I can add it to the pom as a comment with some explanation on when to use or not.

[2019-04-09 12:39] javahippie commented on #135
Thank you for your comment and the suggestion, this sounds like a good compromise 👍

[2019-04-11 08:21] takakiyo opened #136 "Reduce runnable jar file size for Open Liberty"
pom.xml file for Open Liberty contains following configuration.
[code]
include element should be changed like this.
[code]
It can reduce target runnable jar file.
[code]

[2019-04-13 08:20] rdebusscher commented on #136
@Emily-Jiang Is this the recommended approach for OpenLiberty?

[2019-04-13 08:24] rdebusscher commented on #134
@Gauge can't be re-used and must be in @ApplicationScoped bean

[2019-04-13 08:27] rdebusscher commented on #134
MetricController now ApplicationScoped to work around too strict 'metric reusability' interpretation by some implementations. See also https://github.com/eclipse/microprofile-metrics/issues/364.

[2019-04-13 08:28] rdebusscher commented on #133
@Gauge must indeed be in an @ApplicationScoped bean.

[2019-04-15 12:42] #133 closed

[2019-04-15 12:42] #134 closed

[2019-04-20 17:44] rdebusscher opened #139 "Add license header on test files"

[2019-04-25 13:15] readonlynetwork opened #140 "Standalone MP war file"
Is it possible to create a simple .war file, that use only MicroProfile without server?
Is that .war file is deployable to any server where M.P. is implemented?
Sorry for that question but, I want to use M.P. but I don't want to select server now.

[2019-04-26 19:04] rdebusscher commented on #140
Hi,

If you select Thorntail, Liberty, Tomee or Payara in the dropdown,  the `mvn clean package` will also generate a war file which can be used on any of those servers (having the same MP version implemented)

[2019-04-27 08:15] readonlynetwork commented on #140
thank you the information

[2019-04-27 08:15] #140 closed

[2019-04-29 12:27] rdebusscher opened #141 "Improve lookup of profile in pom-servers.xml"
See description on the PR comment https://github.com/eclipse/microprofile-starter/pull/129#issuecomment-487559409

[2019-05-05 14:04] rdebusscher commented on #141
Next to the logic described in the comment (repeated) here below, some additional optimalisation can be done:

- First with the version
- If not found, just on implementation

So that we can have a more 'general' profile

In the liberty example, first look for `liberty-2.2` profile, if not found look for the `liberty` profile.

By creating additional add-ons, the Server specific code can be remove

[2019-05-05 14:57] jumpingElephant opened #142 "JWT-Configuration for TomEE is insufficient"
Currently, if the selected MP Server is for example "Payara Micro" and there is "JWT Auth" selected in the "Examples for specifications" section, the resulting zip-File contains a resource-file "payara-mp-jwt.properties", which defines the accepted issuer.

On the other hand, if the selected MP Server is "Apache TomEE 8.0.0-M2" and "JWT Auth" selected, the resulting zip-File does not contain confi

[2019-05-06 10:33] rdebusscher opened #143 "Remove index.html"
MicroProfile is not based on the servlet spec so implementation should not be able to support this.

Just place the links of the index.html into the readme.md

[2019-05-10 16:40] rdebusscher commented on #79
fixed by https://github.com/eclipse/microprofile-starter/pull/138

[2019-05-10 16:40] #79 closed

[2019-05-10 17:11] #141 closed

[2019-05-10 17:52] #128 closed

[2019-05-10 18:03] #123 closed

[2019-05-12 08:10] #59 closed

[2019-05-12 08:24] rdebusscher commented on #139
Fixed by #148

[2019-05-12 08:24] #139 closed

[2019-05-12 08:28] rdebusscher commented on #46
CQ is approved

[2019-05-12 08:28] #46 closed

[2019-05-12 08:30] rdebusscher opened #150 "Generate 2 applications when Rest Client and/or JWT is selected"
So that more realistic demo code can be generated.

[2019-05-12 08:32] rdebusscher commented on #27
See also #150

[2019-05-14 09:57] hutchig opened #153 "Recording (anonymized) numbers?"
In a recent reply to a tweet of mine, Pivotal's VP of Product Marketing noted that the numbers of new projects started at `start.pivotal.io` is a better measure of success than the raw number of framework jar downloads.

If we had the (anonymized obviously) numbers for projects started and the table
of features (servers?) selected - it would help us greatly in working out what bits of
MicroProfile

[2019-05-14 10:14] rdebusscher commented on #153
Hi Gordon,

We do record the following information today
- Number of downloads
- Time, selected runtime, selected MP Version and selected specifications for the examples.

This way, we have an idea of the usage and the "popularity" of the runtimes but do not keep any personal information.

However, I do not agree with the statement

which indicates that the usage of such a website is mandatory in

[2019-05-19 19:13] rdebusscher commented on #142
Hi @jumpingElephant,

I tried again and it seems that TomEE 8 M2 isn't checking the accepted issuer as the example is working fine. (the starter integration for TomeEE is created by TomiTribe)

Are you aware that this check will be performed in M3 or Final of TomEE 8?

[2019-05-21 20:56] aeiras commented on #153
@hutchig this issue is a great follow up to that architecture call where we chatted about tracing MP extensions' usage.

Lets discuss it on next MP Community hangout.

[2019-05-25 08:16] jumpingElephant commented on #142
The demo is now working for me. I cannot reproduce, what I did wrong the last time. So this issue seems to be cleared to me.
Even though it seems strange to me that TomEE accepts just any issuer, that can be defined in the JWTClient-class when creating the token, as long as the issuer is not defined in the properties.

[2019-05-25 08:16] #142 closed

[2019-05-26 18:57] rdebusscher commented on #142
@jumpingElephant
Please open an issue at the https://github.com/apache/geronimo-jwt-auth repository to make such an issuer mandatory.

[2019-05-27 18:51] jumpingElephant commented on #142
After some investigation I found, that the RFC for JWT 7519 says that the Issuer Claim is optional. So, I guess this behavior is valid, even if I don't like it.

[2019-05-28 14:18] rdebusscher commented on #142
@jumpingElephant

It is not what the RFC says what it is important, but what is defined within the JWT Spec. And this is what is defined

So it seems that TomEE 8 M2 is not compliant with the MP Spec.

[2019-05-28 20:28] jumpingElephant commented on #142
Hi,

 

so I've created an issue here https://issues.apache.org/jira/browse/TOMEE-2533 . I hope this was the right place to go.

 

There is an entry in the Geronimo mail archive https://www.mail-archive.com/dev@geronimo.apache.org/msg96430.html which refers to a bug-issue to ensure the issuer in JWT is optional in Geronimo. Is the issuer a point in MicroProfile, where it is meant to be more restr

[2019-05-30 12:07] Karm commented on #91
@mraible
 * API doc: https://app.swaggerhub.com/apis/microprofile/starter/1.0.0
 * Examples: https://github.com/Karm/microprofile-starter/blob/rest/src/main/resources/REST-README.md
 *  ```curl 'https://test-start.microprofile.io/api/1.0.0'```
 * PR #156

[2019-05-30 12:27] Karm commented on #153
This is already implemented, we have been logging project creation details since day 1.

[2019-05-30 12:27] #153 closed

[2019-05-30 12:35] Karm commented on #122
@OndroMih REST API respects this requirement, e.g. if you call:

[code]

You get a project with MP21 as that is the latest Payara supports.

MP21:

[code]

Whereas MP22:
[code]

[2019-05-30 12:37] Karm commented on #121
-1 on this one, it seems it clutters the UI to me

How about adding a link to the wiki directly next to the dropdown Selection UI element?

@rstjames WDYT from web frontend POV?

[2019-05-30 12:38] Karm commented on #106
@hpragt See our notes on your ECA in #108

[2019-05-30 12:41] Karm commented on #98
@Emily-Jiang @rdebusscher What is the call to action on this issue and to whom?

[2019-05-30 12:46] rdebusscher commented on #98
@Karm I should write page in the project doc on how this project came about. But no priority for me as not essential.

[2019-05-31 15:20] #58 closed

[2019-05-31 15:27] Karm opened #157 "Add RestAssured tests for REST API"
Related to #91 #156

[2019-05-31 15:30] Karm opened #158 "Decouple the core library from JSF so as it could be used separately"
The ultimate motivation is to create an offline CLI, compiled as a Quarkus/Graal native image. This executable would be easily embedable into JavaScript environment of VSCode.

[2019-05-31 15:36] rdebusscher commented on #158
So I propose than 3 modules

- core
- Web view (JSF)
- Rest view (JAX-RS)

[2019-06-08 13:18] rdebusscher opened #159 "Add Payara 5.192 as MP 2.2"

[2019-06-12 08:09] rdebusscher opened #161 "Change icon validation message"
This icon is confusion as people may think they can close the message when clicking on it.

<img width="276" alt="Screenshot 2019-06-12 at 10 05 31" src="https://user-images.githubusercontent.com/1228265/59334181-31662080-8cfa-11e9-996f-6e448eedf2e3.png">

[2019-06-12 08:10] rdebusscher commented on #161
@rstjames Can you give/create us a better icon. Thx!

[2019-06-13 08:53] #159 closed

[2019-06-16 22:51] Karm opened #162 "Circle CI build is broken by pull/156"
#156 broke Circle CI build, because the isolated env running mvn does not have git installed and ```version.txt.sh``` fails.

[Failed build.](https://circleci.com/gh/Karm/microprofile-starter/81?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification)

# TODO
 * add it to config yaml
 * run Circle CI builds also with PRs, not only after merge to master

[2019-06-17 12:33] Karm opened #163 "REST: Consider a call that returns All MP versions, Servers and APIs in one hit"
@yeekangc suggested we have a call that returns all mapping MPVersion:Servers:APIs for the usage in tools such as VSCode. The current API forces you to do this in 2 steps, first fetch list of MPs and and the second selects particular MP version:
[code]
[code]

Opened for consideration.

[2019-06-17 12:37] yeekangc commented on #163
As you said, it will be nice if in 1 call, we can get a mapping of MP versions to supported servers and specs, Karm.  Thank you.

[2019-06-17 12:45] rdebusscher opened #164 "Change MicroprofileSpec.HEALTH_METRICS to MicroprofileSpec.METRICS"
Also change in the templates and the output within the API response.

[2019-06-17 12:49] Karm commented on #164
Code: [MicroprofileSpec.java](https://github.com/eclipse/microprofile-starter/blob/b16122e81ba7c9dd67b4d2592fe5c6349ee34f67/src/main/java/org/eclipse/microprofile/starter/addon/microprofile/servers/model/MicroprofileSpec.java#L41)

What happens to the description/alias for web?

[2019-06-18 07:14] rdebusscher commented on #164
Also updated

[2019-06-18 07:48] rdebusscher commented on #91
Fixed by https://github.com/eclipse/microprofile-starter/pull/156

[2019-06-18 07:48] #91 closed

[2019-06-19 12:29] Karm commented on #162
Fixed: https://circleci.com/gh/Karm/microprofile-starter/84

The problem was that ```git describe --tags``` needs at least one tag and the repo sync was not syncing tags.  It is working now.

[2019-06-19 12:29] #162 closed

[2019-06-20 12:43] Karm opened #167 "Send notifications to Gitter on CD/CI start and successful end"
The default Circle CI webhook integration does not seem to work. I opted for using curl and Gitter's simple API.   A message is send on pipeline start and on successful end. If there is no end message to the start message, something went wrong...

[2019-06-20 14:29] Karm commented on #163
@yeekangc , hmm, WDYT?    ```/allServersSpecs``` ?   or just ```/all```?

[code]

Wouldn't it be better for VSCode/tools integration to have Server as key instead of MP version?

[2019-06-20 16:04] yeekangc commented on #163
For IDEs, yes, it may be better to key off the servers than MP versions.  IOW, we will ask for the choice of server or runtime first.  We can discuss this further with the team.

I lean toward `/allServersSpecs` than `/alll`.  Or, something like `/supportMatrix`?

[2019-06-24 12:48] #164 closed

[2019-06-24 12:48] yeekangc commented on #163
As discussed on the MP Starter call, we will key off MP versions and make it consistent with the website.

It also hit me that we can consider something like the below:
- `supportMatrix` -- Default to specs as key
- `supportMatrix/java` -- Java versions as key
- `supportMatrix/specs` -- Specs as key, which is the same as default
- `supportMatrix/servers` -- Servers as key

Food for thought.  Thank

[2019-06-24 19:44] rdebusscher commented on #167
Closed by merging #168

[2019-06-24 19:44] #167 closed

[2019-07-01 12:52] #163 closed

[2019-07-01 13:09] Emily-Jiang opened #170 "Create Intellij extension for MP Starter"
create Intellij extension so that developers can directly create MP microservice. The extension can directly call the RESTful endpoint exposed by MP Starter. e.g. https://test-start.microprofile.io/api/supportMatrix/servers

[2019-07-01 13:10] Emily-Jiang opened #171 "Create MP extension for Eclipse Che"
Create an extension on Eclipse Che so that developers can directly create MP microservices via Eclipse IDE. The extension can directly call MP starter RESTful endpoints.

[2019-07-01 13:11] kenfinnigan commented on #170
I don't think this is a good idea.

This is about IDE tooling and not MP Starter, and would apply to all IDEs not just Intellij

[2019-07-01 13:12] kenfinnigan commented on #171
As with https://github.com/eclipse/microprofile-starter/issues/170, this is taking MP Starter project away from being a simple UI/backend for creating MP projects into being an entire tool chain.

This should be discussed at the wider MP Community level first

[2019-07-01 13:12] Emily-Jiang commented on #170
We are working on VScode extension. This issue is just trying to get help to create Intellij extension.

[2019-07-01 13:14] kenfinnigan commented on #170
There isn't an issue for that, who is working on it?

Any kind of adding of tooling to MP should be discussed more widely first

[2019-07-01 20:24] carlosdlr commented on #171
If you want I can help

[2019-07-02 06:40] rdebusscher commented on #171
This needs to be developed 'outside' (code not within a MicroProfile repository) of the MicroProfile community. We are not going to 'own' the extension.

However, we can track the progress of the extension here.

[2019-07-02 06:41] rdebusscher commented on #170
This needs to be developed 'outside' (code not within a MicroProfile repository) of the MicroProfile community. We are not going to 'own' the extension.

However, we can track the progress of the extension here.

[2019-07-02 06:42] rdebusscher opened #172 "Create MP extension For VSCode"
Create an extension on VSCode so that developers can directly create MP microservices via VSCode IDE. The extension can directly call MP starter RESTful endpoints.

[2019-07-02 06:42] rdebusscher commented on #172
This needs to be developed 'outside' (code not within a MicroProfile repository) of the MicroProfile community. We are not going to 'own' the extension.

However, we can track the progress of the extension here.

[2019-07-06 22:40] OndroMih commented on #172
As mentioned in #170, @Emily-Jiang's team is working on this extension already.

[2019-07-08 12:36] Karm opened #173 "When MPVersion is selected and deselected, Servers dropdown remains enabled"
![output](https://user-images.githubusercontent.com/691097/60810785-2d5cdf80-a18e-11e9-9aa7-2989c6670595.gif)

[2019-07-08 12:45] rdebusscher commented on #173
Functionality

- When no MP version is selected -> All Implementations in the Dropdown of the server.
- When Download clicked when only Server selected (no MP version) -> use latest supported version for that Implementation.
- When MP Version is selected -> All Implementations in the Dropdown of the server which support this version (current functionality)

[2019-07-08 13:09] Emily-Jiang opened #174 "Create MP extension for NetBean IDE"
Create an extension on Apace Netbean so that developers can directly create MP microservices via the IDE. The extension can directly call MP starter RESTful endpoints.

[2019-07-09 06:45] jmezna opened #175 "Add KumuluzEE to the list of servers for MicroProfile 2.2"
Hello,

KumuluzEE now supports MicroProfile 2.2 (https://github.com/kumuluz/kumuluzee/releases/tag/v3.5.0). We would kindly ask to include KumuluzEE to the list of servers for MicroProfile 2.2.

If we can help somehow, please let me know.

Thanks, Jan

[2019-07-10 16:43] Emily-Jiang opened #177 "Update MP Starter to uncheck the 8 specs"
Based on the google group [discussion](https://groups.google.com/forum/#!topic/microprofile/LGJqv-UG3oU) , the general consensus is:
By default, uncheck the 8 specs. Add a button/link to say "Select All".

If possible, try to add "Unselect All", but check to see whether it will clatter the website. If it does, leave this out.

[2019-07-10 21:41] Karm commented on #175
Hello, @jmezna,
The fastest way to do that is to open a PR. See our [documentation](https://github.com/eclipse/microprofile-starter/blob/master/how-to.md#add-a-new-microprofile-version-to-an-implementation) on how to add new versions.

Let us know if you find the doc helpful, please :)

[2019-07-11 07:13] jmezna commented on #175
I opened the PR #179

[2019-07-11 08:55] rdebusscher opened #180 "Improve How-to documentation"
Documentation describes not clear enough the different steps.
Heading are confusing.

[2019-07-11 09:33] rdebusscher opened #181 "Add TomEE 8.0.0.M3 as MP 2.2 implementation"

[2019-07-11 09:34] rdebusscher commented on #181
See https://github.com/eclipse/microprofile-starter/pull/176 and https://github.com/eclipse/microprofile-starter/pull/178

[2019-07-11 13:49] rdebusscher commented on #175
Closed through #179

[2019-07-11 13:49] #175 closed

[2019-07-15 12:42] Karm opened #182 "/api/supportMatrix should return MP versions ordered, latest first"
As per 2019-07-15 call, we would like clients, e.g. VSCode, to trust API with sorting.

[2019-07-15 13:08] Karm opened #183 "REST API: Human friendly descriptions to be returned by api/supportMatrix"
DRAFT

* CONFIG - Configuration - externalize and manage your configuration parameters outside your microservices
* FAULT_TOLERANCE - Fault Tolerance - all about bulkheads, timeouts, circuit breakers, retries, etc. for your microservices
* JWT_AUTH - JWT Propagation - manage and propagate security across your microservices
* METRICS - Metrics - Gather and create operational and business measuremen

[2019-07-18 07:33] Karm opened #184 "Get us from F to a better grade: https://observatory.mozilla.org/analyze/start.microprofile.io"
https://observatory.mozilla.org/analyze/start.microprofile.io

[2019-07-26 07:08] Emily-Jiang opened #189 "Add a button from start.microprofile.io to the github repo"
Some feedback on start.microprofile.io: from the website, "Giving feedback" does not mean going to the issues in the github repo. Many people asked me where to find the repo for this starter. I am wondering whether we can do the following:
1. replace "Giving Feedback" with the github icon
Pros: Spring starter and many other tools use this approach.
Cons: need to change to a different icon if we mo

[2019-07-26 07:09] Emily-Jiang commented on #189
@rstjames please take a look and add your comments

[2019-07-26 13:03] rstjames commented on #189
@Emily-Jiang I will take a look at this on Monday and come up with some options that should solve this issue.

[2019-07-27 22:17] Emily-Jiang opened #190 "Add support for MicroProfile 3.0"
Both Open Liberty 19.0.0.7 and Thorntial 2.5.0 support MicroProfile 3.0. We need to add an entry for MicroProfile 3.0.

[2019-08-02 10:00] rstjames commented on #189
@Emily-Jiang
Here is one rough option:
Pros:
- no jumping going from mp.io to starter
- connect back to MP.io better
- think the feedback placement looks more like "feedback" and not a main menu option.

<img width="1162" alt="Screenshot 2019-08-02 11 56 02" src="https://user-images.githubusercontent.com/12132146/62362364-0e4b3680-b51d-11e9-9d02-36137effb2e3.png">

I will try to come up with anoth

[2019-08-03 17:38] rdebusscher commented on #182
Fixed by #186

[2019-08-03 17:38] #182 closed

[2019-08-06 18:39] tjquinno opened #192 "Add support for Helidon 1.2 (MP 2.2)"
The recent release of Helidon 1.2 supports MP 2.2. (See https://helidon.io/docs/latest/#/microprofile/01_introduction.)

It would be great if the starter could be updated to reflect this.

[2019-08-08 06:19] rstjames commented on #189
@Emily-Jiang is this still an issue we should discuss for starter?

[2019-08-14 12:41] Karm opened #194 "Tomee service-b for rdebusscher/rest-client-splitted does not start correctly"
Hello,

I tried to run Tomee service-b on the rest-client-splitted branch and got [this error](https://gist.github.com/Karm/f46f55992e76530b3d97af8fd354ecbe).
Any hints as to what could
[code]

I generated the project just with Rest Client spec selected, MP 2.0
mean?

[2019-08-14 13:21] rdebusscher commented on #194
This is a PR review, not a bug on a released version

[2019-08-14 13:25] rdebusscher commented on #194
Config references the file although the 'JWT auth' spec is not selected. So /publicKey.pem is not present (=correct) but config though POM is still there (=bug)

I'll fix this by adding it to the POM only when 'JWT auth' spec is selected.

[2019-08-14 14:58] Karm commented on #194
Sorry, you are right. I should have formatted it just as a PR comment.

[2019-08-15 13:19] cealsair opened #195 "Add Quarkus as a MicroProfile runtime for Starter"
Please add Quarkus to the list of "MicroProfile servers". Quarkus is "in progress" under the MicroProfile implementations page:
https://wiki.eclipse.org/MicroProfile/Implementation

Thank you,
Cesar

[2019-08-15 16:38] rdebusscher commented on #195
Our procedures state that an implementation must pass all TCK and be fully compatible before it can be added. (indicated by the MicroProfile implementations page)

Until then, this issue will be on hold.

[2019-08-15 18:04] Karm commented on #195
@rdebusscher Certainly. This just for me to track that I will be looking into it. Nothing gets merged until it passes.

[2019-08-16 19:56] davidsalter opened #196 "Cannot Build MP Starter on Maven 3.6.0+"
The MP Starter cannot be built on Maven 3.6.x due to an issue with the current version of Thorntail that is used. (2.2.1.Final)

https://github.com/thorntail/thorntail/pull/1195

Upgrading to Thorntail 2.5.0.Final solves this issue and allows the MP Starter to be build with newer versions of Maven.

[2019-08-17 07:59] rdebusscher commented on #196
@davidsalter  Why do you want to build the Starter your self and not using the start.microprofile.io?

This change doesn't affect the generated projects for the users.

We can't do this upgrade until Eclipse Foundation vetted Thorntail 2.5.0.

[2019-08-17 09:14] davidsalter commented on #196
Hi. The reason for building the starter myself was so I could look at some of the issues and try to write fixes for them. I could downgrade my local maven if this version of Thorntail is not ok?

[2019-08-17 16:40] rdebusscher commented on #196
Locally you can update the Thorntail version if it is for testing, but the version we use in the repository can't be changed that simple.

[2019-08-18 13:48] davidsalter commented on #196
Thanks @rdebusscher.

I'll leave this issue open (unlesss you want to close it) for future reference in case Thorntail 2.5.0 gets correctly vetted.

[2019-08-19 12:52] cealsair opened #198 "MicroProfile modularity of generated project (NOT generated sample code)"
Short version:
A) should the Starter generate a project that includes all of the MP umbrella release regardless of what examples were selected?, OR
B) should the Starter generate a project that includes only the MP APIs for whose example were selected?
=====
Long version:
Modularity of MicroProfile, Starter Examples vs. Selected specs
Karm: Hi guys, I won't make the call today as I will be on a pl

[2019-08-19 18:10] cealsair commented on #189
My vote is to remove the menu bar entries at the top of the Starter landing page. And keeping the "Give Feedback (GitHub)" tab vertically on the right side of the page. Thank you, Cesar

[2019-08-20 08:28] Emily-Jiang commented on #189
+1 on @cealsair 's suggestion!

[2019-08-22 10:24] #190 closed

[2019-08-22 12:36] #183 closed

[2019-08-22 12:39] #194 closed

[2019-08-22 12:41] rdebusscher commented on #192
PR is merged.

[2019-08-22 12:41] #192 closed

[2019-08-22 12:45] rdebusscher commented on #27
Fixed by #188

[2019-08-22 12:45] #27 closed

[2019-08-22 12:45] rdebusscher commented on #150
Fixed by #188

[2019-08-22 12:45] #150 closed

[2019-08-23 16:27] Karm commented on #184
This is now solved: https://observatory.mozilla.org/analyze/starter.karms.biz

[2019-08-23 16:41] Karm commented on #184
Grade is B.  With Grade A+ PrimeFaces are broken as it relies on inlining JS...   I guess B is O.K.

[2019-08-23 16:41] Karm commented on #184
Demo: https://starter.karms.biz/

PR coming soon

[2019-08-28 12:09] moghaddam commented on #170
Hi Guys

I've already started working on this issue. I can't assign it to myself and based on  @rdebusscher's comment on #84, seems tasks are assigned only to committers. I just wanted to be sure that no one else would also spend time on this.

While I was working on extracting the zip and setting up proper intellij module, I noticed that when user choose any of JWT or Rest Client specs, it will l

[2019-08-28 12:22] rdebusscher commented on #170
Hi @moghaddam,

This look great.

Yes, we cannot assign you to the ticket but this reply should be a clear indication for everyone that you are working on it. :)

Regarding: _But both of them have the exact same maven coordinates (specifically same artifactId)_ --> please open a new issue for this so that we can discus it.

Thanks for taking this up!

[2019-08-28 12:44] moghaddam opened #203 "Different modules in generated project should not have similar Maven coordinates"
When user choose any of JWT or Rest Client specs, it will lead to having a zip file containing two separate modules. But both of them have the exact same maven coordinates (specifically same artifactId).

In some IDEs like IntelliJ, it automatically shows them as demo(1) and demo(2) and when you open the pom.xml for any of them, the title in the editor would be "pom.xml (demo)" so it's not easy fo

[2019-08-30 10:08] Karm opened #204 "Add link to REST API to the main web page"

[2019-08-30 11:09] Karm opened #206 "Remove JWT dependency on org.bouncycastle.bcpkix-jdk15on, replace com.nimbusds.nimbus-jose-jwt"
# Removing dependency on BouncyCastle

The demo code uses PKCS#1 RSA SHA-256 certs. That works with security providers on all modern JDKs; we don't need EllipticCurve (EC) support for non-Oracle JDKs via BouncyCastle.

I successfully removed it and generated 2048 bit RSA certificate stored as PKCS#8 pem and it works on OpenJDK 11 on Linux. Will try on Windows too.

# Replacing Nimbus-jose-jwt

I w

[2019-08-30 12:25] Karm commented on #203
Hello @moghaddam, this is fixed in pull #207 now.

[2019-08-30 12:58] cealsair commented on #204
I like the idea very much. However, I'd like to make this some sort of button or clickable link that clearly indicates to the user that clicking on it will copy the "curl ...." string to their clipboard so that they can paste it in a Terminal window. Also, I'd like to see text label included that clearly tells users what the button is for and how to use it.

[2019-08-30 14:39] rdebusscher commented on #204
I think using a link and clipboard as too much overhead for this simple thing.  @rstjames from User Experience point of view, how should this best be presented?

[2019-08-30 16:22] cealsair commented on #204
I was referring to adding a COPY symbol next to the "REST API CALL" label. The COPY symbol would look similar to this:
https://play.google.com/store/apps/details?id=nl.robwu.copylink&hl=en_US
The user then could click on the COPY symbol. This action would store the "curl..." cmd in the clipboard. The user could then go to his/her Terminal window and do a paste. This would simplify things and make

[2019-09-01 09:17] Karm commented on #206
The PR is ready now #208

[2019-09-01 18:06] rdebusscher commented on #206
nimbus-jose-jwt is certainly not a must, it is the framework I know best. And indeed, now with having JSON-B, the json-smart dependency should be made swappable.

BouncyCastle is probably a framework everyone uses with features not available in plain Java. +0 on removing that one.

[2019-09-01 18:07] rdebusscher commented on #206
I'll try to find some time on Monday to have a look at the PR.

[2019-09-02 12:42] Karm opened #209 "Liberty doesn't work if artifactId is not "demo" due to hardcoded context"
[src/main/resources/files/liberty/TestSecureController.java.tpl#L51](https://github.com/eclipse/microprofile-starter/blob/master/src/main/resources/files/liberty/TestSecureController.java.tpl#L51)

[2019-09-02 12:50] yeekangc commented on #172
We have contributed the extension here: https://github.com/MicroShed/mp-starter-vscode-ext

[2019-09-02 21:02] #184 closed

[2019-09-03 12:11] Karm commented on #181
Closing, https://github.com/eclipse/microprofile-starter/pull/176  merged.

[2019-09-03 12:11] #181 closed

[2019-09-06 10:10] #209 closed

[2019-09-06 10:26] #180 closed

[2019-09-06 10:27] #203 closed

[2019-09-07 07:18] Emily-Jiang commented on #189
@rstjames
Can you update the design accordingly?

[2019-09-07 07:21] Emily-Jiang opened #211 "Improve Liberty pom.xml generation"
Simplify the template to generate Liberty pom.xml:
1. remove unnecessary lines of code
2. use Liberty plugin more efficiently
3. set the context root to / for service-b

[2019-09-09 13:40] Karm opened #213 "Helidon service-b does not compile when JWT, RestClient are selected"
## Download

[code]

## Build service-b

[code]

[2019-09-11 11:32] Karm opened #215 "KumuluzEE JWT example returns "Unauthorized""
KumuluzEE gives:
[code]
for JWT example.

I would like to kindly ask someone familiar with KumuluzEE to download the project:

[code]
and tell me how to fix it.

Perhaps @MBJuric or @jmezna ?

[2019-09-11 13:48] MBJuric commented on #215
We will have a look and will let you know hoe to fix the problem. Thanks.

[2019-09-12 06:42] jmezna commented on #215
The _401 Unauthorized_ is caused by a failed JWT token verification, which is a result of a misconfigured key pair.

[2019-09-13 07:27] rdebusscher commented on #211
This seems to be already in production? So why is this issue not closed? What is the corresponding PR?

[2019-09-13 07:42] Karm commented on #211
@rdebusscher It is not closed, because it has never been  merged into master.

[2019-09-13 08:27] rdebusscher opened #216 "Document release procedure"
Describing regular procedure and hotfixing.

[2019-09-13 08:32] rdebusscher commented on #216
- Each PR should have a corresponding issue.
- Each issue should have a correct milestone (semver rules) attached to it.
- PRs are merged into master after 2 acks (creator PR and acks should be from at minimum 2 companies)

- When releasing, a branch (using the same name as milestone) is created and tagged with that name.
- This branch is put as production version on the website.

## HotFixing

-

[2019-09-13 08:50] rdebusscher commented on #211
Yeah, but it is released into production. We had a discussion on this on gitter.

[2019-09-13 12:59] Karm commented on #215
Fixed by #214

[2019-09-13 13:00] Karm commented on #215
@jmezna THX. It was really just a stupid error of inconsistent key being pushed into config. Solved.

[2019-09-14 19:57] #213 closed

[2019-09-14 20:03] #215 closed

[2019-09-14 20:03] Karm commented on #211
Fixed.

[2019-09-14 20:03] #211 closed

[2019-09-15 08:26] rdebusscher commented on #172
First release available https://marketplace.visualstudio.com/items?itemName=MicroShed.mp-starter-vscode-ext

[2019-09-18 22:31] Karm opened #217 "There is no reason why Thorntail's service-b pub key should be called MP-JWT-SIGNER instead of publicKey.pem"
SSIA

[2019-09-19 05:07] rdebusscher commented on #217
I think it was mandatory for WildFly Swarm with MP 1.2. It was kept later on for Thorntail.

[2019-09-23 13:04] cealsair commented on #157
CQ (https://dev.eclipse.org/ipzilla/show_bug.cgi?id=20871) created for Arquillian 1.1.15

[2019-09-26 08:41] alfonsodiazd commented on #125
Hi everyone,

Do you know when will this issue be fixed?

[2019-09-26 10:40] Emily-Jiang commented on #125
@cealsair @rdebusscher @Karm let's discuss this the coming Monday.

[2019-09-26 11:00] rdebusscher commented on #125
Although there are already runtimes which support MicroProfile on Java 11, MicroProfile officially doesn't support it.  See for example https://github.com/eclipse/microprofile/issues/121 and related issues which still are open.

[2019-09-26 11:02] rdebusscher commented on #125
And although the starter says Java 8, the generated project runs fine on those runtimes which support MicroProfile on Java 11.

[2019-09-26 11:08] rdebusscher commented on #125
So we have to define what will be the scope of this issue (like do we want a test project which compiles on Java 11) and how it relates with the debate of Java 11 support of MicroProfile itself.

[2019-09-26 11:13] Karm commented on #125
I'd go with the example project that is set to and builds with and runs on Java 11. Which runtime does not run on Java 11?   I know Quarkus needs to wait for some weeks for the new GraalVM to have all capabilities fulfilled for Java 11, but Quarkus is not yet in our scope anyway.

Incidentally, when I worked with the latest servers from our starter, I used Java 11 by default...

[2019-09-30 12:50] Emily-Jiang opened #218 "Update Starter to use MP Health new APIs when chosen MP 3.0"
When choosing MP 3.0 and MP Health, the `@Health` annotation will be deprecated for MP Health 2.0. The better code template will be Readiness and Liveness usage.

[2019-09-30 12:58] Emily-Jiang opened #219 "Update Open Liberty maven plugin version from 2.2 to 3.0.1"
Open Liberty maven plugin version 3.1 will be available. With this new version, we will support dev mode, debugging and automatic test runs.

[2019-09-30 13:00] Emily-Jiang commented on #189
@rstjames can you join our hangout on Monday next week to discuss this design together with #204 ?

[2019-10-02 08:10] saturnism opened #220 "start.microprofile.io to generate just one service"
Currently https://start.microprofile.io generates a zip w/ 2 services. Can there be an option to just generate a single service?

[2019-10-02 08:21] Karm commented on #220
Hello @saturnism,
Pleased you tried it!

The site generates 2 services if and only if you selected at least one these examples: JWT, REST Client.

If you pick just Config and Metrics, you get 1 service.

The reason behind this design is that we wanted more realistic examples, i.e. one service authenticating with the other...

Do you have any suggestions as how to make it more comprehensive to the

[2019-10-02 08:49] moghaddam commented on #220
Hi

What about having a parent module in such scenarios? I'm working on the
IntelliJ plugin and I can say it makes it much easier to import that into
the IDE (of course if it make sense from other aspects too. It should not
be the main criteria to decide about having such module).

Regards
Ehsan Zaery Moghaddam
Java Developer
Email: zaerymoghaddam@gmail.com
<http://ir.linkedin.com/in/zaerymoghadda

[2019-10-02 08:59] Karm commented on #220
@moghaddam We probably can have a parent pom.xml there. So far we have a parent readme.md.  Could you open an issue for that, please?

[2019-10-02 09:14] rdebusscher commented on #220
@moghaddam
A parent POM is not a good practice for micro-services since you tie the build of all your services together and thus end with a monolith.

[2019-10-02 12:03] moghaddam commented on #220
@rdebusscher
I'm agree with you that we should not promote something that is considered as bad practice. It may sounds a bit silly, but I think maybe I've misunderstood the goal of the Starter project.

Should I think about it as a tool to help beginners to get into the MicroProfile world or a tool that will also be used by everyone to generate the skeleton for each new microservice? Because if a

[2019-10-03 00:59] saturnism commented on #220
presenting an option to checkbox "generate both client and server" would be useful. i.e., it's not uncommon to simply want to generate a single service that has jwt and rest client and don't need the full client/server example.

[2019-10-03 09:54] rdebusscher commented on #220
@moghaddam

Both, since the tool is also integrated with IDE plugins (under construction)

[2019-10-03 20:44] tjquinno opened #221 "Add support for Helidon 1.3.1 (MP 3.0)"
The recent release of Helidon 1.3 (currently at 1.3.1) supports MP 2.0.

It would be great to update the starter to reflect this.

Thanks.

[2019-10-04 07:46] rdebusscher commented on #220
@saturnism

We can certainly foresee the option to generate only client or server. But in that case, it doesn't make sense to add the examples to the generated client app since they will fail when the user tries them out.  The server part of the example are missing in that case.

[2019-10-04 08:22] rdebusscher commented on #173
For the REST api, it was already supported that only runtime was specified and that latest MP Version with all Specs are used in that case.

[2019-10-07 10:33] Emily-Jiang commented on #220
@saturnism Just to rephrase what @Karm said, you can untick the checkbox "Rest Client" "JWT proprogation" to have one service generated. Once #177 is done, by default, you will just get one service generated unless you tick the various checkboxes under Specification.

[2019-10-07 12:23] #221 closed

[2019-10-07 12:37] Karm opened #225 "Remove superfluous files, index.xhtml, octopus*"

[2019-10-07 12:54] Karm opened #227 "Remove "Java SE Version: Java 8" field from start web page until Java 11 addition is clear"
Hello,

Adding Java 11 to the dropdown field seems to be a bigger question than thought before.
Until it is cleared, I suggest we remove the filed as it erroneously suggest that Java 8 runtime is somehow required. It is not, I can build the project using JDK 11 (albeit having it set compile target 1.8) and I can run it on Java 11 capable runtime such as Thorntail without any problem.

Thoughts?

@

[2019-10-07 13:48] cealsair commented on #227
If we are going to add Java 11 to the dropdown, we need to add some kind of
note to tell users what it means if they select it. From what I recall,
Java 8 support by MicroProfile is not the same as with Java 11.

On Mon, Oct 7, 2019 at 3:54 PM Michal Karm Babacek <notifications@github.com>
wrote:

--
Cesar Saavedra
Senior Principal Technical Product Marketing Manager
csaavedr@redhat.com
(407) 492-

[2019-10-07 13:51] Karm commented on #227
Related to  https://github.com/eclipse/microprofile-starter/issues/125

[2019-10-07 13:52] Karm commented on #227
@cealsair On this GitHub Issue, I would like to remove the option altogether until we figure out the Java 11 thing.

[2019-10-07 14:19] cealsair commented on #227
I agree with removing the Java 11 option until we figure out the best way
to support this on the Starter.

On Mon, Oct 7, 2019 at 4:52 PM Michal Karm Babacek <notifications@github.com>
wrote:

--
Cesar Saavedra
Senior Principal Technical Product Marketing Manager
csaavedr@redhat.com
(407) 492-9801

[2019-10-08 09:11] #206 closed

[2019-10-08 09:25] #225 closed

[2019-10-08 09:29] Karm commented on #177
@rdebusscher Said he would do it soon, so I guess we can keep it in 0.9.5.

[2019-10-08 09:30] Karm commented on #219
@Emily-Jiang Could you see to PR #222 so as we can make it in 0.9.5?

[2019-10-08 09:31] Karm commented on #106
Closing. Outdated. The code has been rewritten anyway.

[2019-10-08 09:31] #106 closed

[2019-10-08 09:34] Karm commented on #98
I think this issue was covered by blog some time ago, right? Can  we close it?

@aeiras ? @rdebusscher  ?

[2019-10-08 09:39] Karm commented on #92
Hello @tomas-langer, @rdebusscher,

We tackled exactly the same issue in [Quarkus a while ago](https://github.com/quarkusio/quarkus/issues/3596). Specs says ```JsonString```, IIRC, all implementations run happily with ```String```, so we changed Quarkus to work with ```String``` too.

Current Helidon template uses JsonString.  It all works and I am closing this issue.

[2019-10-08 09:39] #92 closed

[2019-10-08 09:40] Karm commented on #84
Our source check is in place / checkstyle plugin. I am closing this as outdated.

[2019-10-08 09:40] #84 closed

[2019-10-08 09:42] rdebusscher opened #228 "Internal Server error after session Expired message and force refresh -> problem with randomizeSupportedServers()"
Steps to reproduce:

- open https://test-start.microprofile.io/
- click around, download something
- go for lunch
- click selection boxes again, (or download button) you get the warning that session expired
- refresh (F5 in Firefox)
- you are redirected to https://test-start.microprofile.io/index.xhtml (note the index.xhtml at the end) and you get Internal Server Error
- hitting F5 again, refreshi

[2019-10-08 09:42] #173 closed

[2019-10-08 09:44] Karm commented on #2
@rdebusscher I don't understand what is the task here. Are we going to ditch pom-servers.xml? Refactor it? Allow more profiles for each server?

[2019-10-08 09:45] Karm commented on #17
@cealsair @rdebusscher I would like to close this as outdated. We have moved on a long way since.

[2019-10-08 09:48] Karm commented on #29
I have added documentation on how to run such thing in my Quarkus branch:

https://starter.karms.biz/

It uses Jaeger; the demo
 * configures Quarkus to run with Jaeger
 * adds instructions about Jaeger in readme.md
 * adds links to Jaeger console on the example landing page

I can broaden it to other servers too and backport it to master.

[2019-10-08 09:49] Karm commented on #29
@rdebusscher ^^^

[2019-10-08 09:50] Karm commented on #33
Closing as outdated. Reopen if you feel differently about it.

[2019-10-08 09:50] #33 closed

[2019-10-08 09:50] Karm commented on #75
@rdebusscher This would be IMHO a thing for @rstjames ....

[2019-10-08 09:53] Karm commented on #62
It has been written already: https://github.com/eclipse/microprofile-starter/blob/master/how-to.md

Done. Closing.

[2019-10-08 09:53] #62 closed

[2019-10-08 10:25] Karm commented on #157
It has been approved.

[2019-10-08 10:43] Karm opened #229 "Use OpenAPI spec to describe our REST API instead of manually synchronizing with SwaggerHub"

[2019-10-08 10:49] Karm commented on #76
This is live on https://test-start.microprofile.io/ now.  Pending 0.9.5 release to get promoted to https://start.microprofile.io/

Closing the issue.

[2019-10-08 10:49] #76 closed

[2019-10-08 10:52] Karm commented on #102
I am all for doing runtime specific things to adhere to runtime specific best practices and optimizations.

We just need the domain subject matter experts to open pull requests for their respective runtimes.

I suggest closing this issue and answered and let the topic/work continue in pull requests for particular servers (runtimes).

[2019-10-08 10:52] Karm commented on #102
@Emily-Jiang @hutchig @cealsair

[2019-10-08 11:00] Karm commented on #227
@rdebusscher IMHO we can go forward with this and have the option hidden until #125 is resolved and discussion on mailing lists concludes and wiki pages are updated...

[2019-10-08 13:15] rdebusscher commented on #228
I cannot reproduce this locally, nor on the site.

Based on the stacktrace reported on that PR, It has to do with the randomization of the supported servers. The line

Fails to generate unique numbers which results in the error.

I adapt the randomize method.

[2019-10-08 13:35] rdebusscher commented on #157
Closed by mistake

[2019-10-08 13:37] rdebusscher commented on #62
Done, but the process is in the readme file of the repo

[when can implementation be added to the MicroProfile Tool](https://github.com/eclipse/microprofile-starter#when-can-an-implementation-be-added-to-the-microprofile-tool)

[2019-10-08 13:41] rdebusscher commented on #2
@Karm

Idea was that the pom.xml of the generated project doesn't use a profile but the info from pom-servers.xml for the specific runtime would be merged.

With the automatic profile selection this is no longer a major issue and can be closed.

[2019-10-08 13:41] #2 closed

[2019-10-08 13:42] rdebusscher commented on #227
@Emily-Jiang was against this, so we have to discuss with her.

[2019-10-10 09:23] rstjames commented on #189
Not sure two votes say enough... think it should be discussed again because what you guys want to do with the menu is not a standard. After we can just push whatever everyone agrees for the menu.

@Karm I think lets at least push the Github side tab. Think everyone agrees on this.

[2019-10-14 12:39] cealsair commented on #189
Emily, Rudy, Karm, and Cesar had a discussion about this. They recommend changing the button on top right of screen of Starter landing page to say "See The Code" (it currently says "Give Feedback".

[2019-10-14 13:54] maeste opened #233 "Add Wildfly as a MicroProfile runtime for Starter"
Please add Wildfly to the list of "MicroProfile servers". Wildfly is "in progress" under the MicroProfile implementations page:
https://wiki.eclipse.org/MicroProfile/Implementation

Thank you,
Stefano

[2019-10-14 14:09] Karm commented on #233
Hello @maeste,

I will take a look. Similarly as with #195 , the runtime pull request can be eventually merged as soon as the runtime passes TCK and is marked "Passed TCK" on [Implementation wiki](https://wiki.eclipse.org/MicroProfile/Implementation).

@cealsair Would you add Wildfly as "In Progress" to the wiki, please?

[2019-10-14 16:14] maeste commented on #233
@Karm note Wildfly is "In Progress" on Microprofile 3.1 I see only 3.0 as latest in the wiki.

[2019-10-16 13:31] Emily-Jiang commented on #227
No. I am in the process to get JDK11 supported. See my discussion on mailing list.
@Karm can you confirm whether Thorntail v2 supports Java 11 and passes all MP TCKs with JDK11. Open Liberty and Payara passed all MP TCKs with JDK11.

[2019-10-16 13:34] Emily-Jiang commented on #136
With the new plugin version 3.1 I put in, there is not much difference at all with minify. Previously, it was dramatically different as obeserved by @takakiyo ! My PR #222 should fix this. I'm going to close this issue. Please reopen if you are still unhappy after you have tried the new version next week.

[2019-10-16 13:34] #136 closed

[2019-10-17 15:59] cealsair commented on #233
Shouldn't we add JBoss EAP in the table too?

On Mon, Oct 14, 2019 at 12:14 PM Stefano Maestri <notifications@github.com>
wrote:

--
Cesar Saavedra
Senior Principal Technical Product Marketing Manager
csaavedr@redhat.com
(407) 492-9801

[2019-10-18 05:45] #177 closed

[2019-10-18 05:45] #228 closed

[2019-10-18 10:04] rdebusscher commented on #219
Closed by #222

[2019-10-18 10:04] #219 closed

[2019-10-29 08:43] Karm opened #234 "Log selected values early to identify issues"
[code]

[2019-10-29 10:59] rdebusscher commented on #234
@Karm Which values did you select on the page?

[2019-10-29 11:45] Karm commented on #234
@rdebusscher I don't know unfortunately. It wasn't me who did it. I just spotted it in the log... And there won't be any DynamoDB log of the selected opts either because the download was not successful...  Perhaps we could log the selected opts sooner to help reproduce such things?

[2019-10-31 09:56] Karm opened #235 "Add option to generate an empty pom skeleton, without code examples"
I received a feedback from a developer that it would be useful to add an option to generate a project *without* code examples. The use case is:

[2019-10-31 10:47] Karm opened #236 "Add description pop-up tooltips over examples strings on the web page"
I received a feedback that it would be cool to have tooltips showing over our Spec examples names on the web page. We already have these strings in our API, e.g.:

[code]

What we probably need is to pull these into the web page gui...

[2019-10-31 10:53] rdebusscher commented on #235
With the latest release 0.9.5, by default no specification is selected and thus only an example of a helloworld endpoint is generated.

[2019-10-31 10:55] rdebusscher commented on #234
I updated the title of this issue as it is the idea to log the values together with the exception so that we can  identify problems in the future.

[2019-11-02 16:26] moghaddam opened #237 "REST API: Selecting all or none of APIs generates the same result"
In the current UI we produce a project containing examples for all specs if:

- User selects all specs
- User selects none of the specs

This makes it a bit counterintuitive. Even if we've accepted to have this behaviour in the UI, maybe we should not implement it in the REST level.

As part of doing final tests on the IntelliJ plugin, I noticed that even when I choose none of the APIs, I still ge

[2019-11-03 09:05] rdebusscher commented on #237
I just tested this and it is not the behaviour I get. Selecting no specs in the UI generates 1 project (and not service-a and service-B projects) with no examples (except for JAX-RS 'helloWorld')

[2019-11-03 09:30] moghaddam commented on #237
You're right. My bad. Seems I was looking at a wrong file when testing the UI. But for the REST API it's like that. For example calling [https://start.microprofile.io/api/1/project?supportedServer=PAYARA_MICRO&artifactId=XXXXX&mpVersion=MP12](https://start.microprofile.io/api/1/project?supportedServer=PAYARA_MICRO&artifactId=XXXXX&mpVersion=MP12)
which has no spec specified, generates a project wi

[2019-11-03 10:29] rdebusscher commented on #237
adjust functionality of REST API to be incline with #177.

[2019-11-14 07:42] rdebusscher opened #239 "Content of microprofile-config.properties contains entries for non selected specifications"
In the case Config and/or Rest Client is not selected, the file microprofile-config.properties still contains values of the examples for those spec examples.

[2019-11-18 13:52] rdebusscher commented on #227
We can only compile with JDK8 and thus info is correct.

We are going to implement #125 soon and thus no need to remove it.

[2019-11-18 13:52] #227 closed

[2019-11-18 13:54] cealsair commented on #125
+1 Thorntail introduced Java 11 in 2.4.0.Final. MP 3.0 support was introduced in Thorntail 2.5.0.Final.

[2019-11-28 16:06] #234 closed

[2019-11-28 18:37] Emily-Jiang commented on #170
Thank you @moghaddam for getting it done! Great job!

[2019-11-28 18:37] #170 closed

[2019-11-28 18:42] Emily-Jiang commented on #125
Let's use [this](https://wiki.eclipse.org/MicroProfile/JDK11Runtime) page to track which runtime passed MP 3.0 with JDK11!

[2019-11-29 07:05] rdebusscher opened #247 "Add support for MP 3.2"
Including Helidon, OpenLiberty and Payara

[2019-11-30 14:49] Karm commented on #157
@rdebusscher @cealsair

I made some progress on testing, so far it is an ugly hardcoded Thorntail only thing that pushes everything into /tmp and does not clean after itself, but anyway, if one uses this branch https://github.com/Karm/microprofile-starter/blob/tests/src/it/java/org/eclipse/microprofile/starter/TestMatrixTest.java

and punches in ``` ~/Tools/apache-maven-3.5.2/bin/mvn clean verify`

[2019-12-03 14:46] #237 closed

[2019-12-06 09:59] rdebusscher commented on #247
Thorntail 2.6.0 also needs to be added to the list

[2019-12-09 12:34] #218 closed

[2019-12-09 21:20] rdebusscher commented on #247
Fixed by #249

[2019-12-09 21:20] #247 closed

[2019-12-10 10:34] rdebusscher commented on #239
Fixed By #243

[2019-12-10 10:34] #239 closed

[2019-12-12 19:26] moghaddam opened #251 "MP 3.2 Project for Helidon has an unresolvable dependency"
MicroProfile Version: 3.2
MicroProfile Implementation: Helidon

The generated pom.xml for the sample project contains the following Helidon dependency that is not yet published. So the build process fails:

[code]
They already have issue [#1132](https://github.com/oracle/helidon/issues/1132) that shows they've implemented and merged it but the issue is still open on their end, so seems we released

[2019-12-12 20:08] rdebusscher commented on #251
It seems that they renamed artifacts but didn't notify us ...
https://github.com/oracle/helidon/pull/1143

[2019-12-17 14:44] #125 closed

[2019-12-19 20:02] rdebusscher opened #254 "Use Helidon version 1.4.1. as MP 3.2 version in the starter"

[2019-12-19 20:20] tjquinno commented on #251
My bad.

Project Helidon did change the bundle naming scheme in this PR https://github.com/oracle/helidon/pull/1143 which was part of the 1.4.0 release. The correct bundle name for the starter to use -- now and going forward -- is `helidon-microprofile`. The bundle name will not have to change as the supported MicroProfile version advances.

Obviously I should have notified the starter project of

[2019-12-19 20:21] tjquinno commented on #254
For reference, if useful: https://github.com/oracle/helidon/releases/tag/1.4.1

[2020-01-06 13:29] Emily-Jiang opened #255 "Use 9080 as the default port for Open Liberty"
Open Liberty uses 9080 and 9443 for the default ports. We need to make starter to honour that setting.

[2020-01-06 13:49] cealsair commented on #216
Looks good.
Could you please spell out what semver (semantic versioning) in the instructions?
Please add the step that explains the automatic updates to test-start.microprofile.io as PRs are merged.

[2020-01-06 13:51] #189 closed

[2020-01-10 11:46] #251 closed

[2020-01-10 11:46] #254 closed

[2020-01-10 17:42] #255 closed

[2020-01-13 08:22] rdebusscher opened #259 "Remove "Beta" from page"
as we go to the first 'final' release 1.0

[2020-01-13 13:39] Emily-Jiang opened #261 "Make Java version selectable when MP version is selected"
At the moment, the Java version is not enabled when MP version and MP runtime is selected. Since the Java version is on the same row as MP version, it is reasonable expectation to be able to choose the Java version version before choosing Runtime. After the Java version is chosen, the runtime that supports the MP version and Java version should be listed. Thoughts?

[2020-01-13 14:08] Karm commented on #261
@Emily-Jiang I don't recall starting a web Java project by picking "a Java version" first. It is a runtime or a set of libraries, one selects and Java version comes next...   IMHO, I don't think this is a problem for GA.

[2020-01-13 22:54] Emily-Jiang commented on #261
As I mentioned earlier, as this dropdown list is on the same line as the MP version, I think end users might choose the Java Version as well and then pick which runtime they want. I am flexible as for when to fix it.

[2020-01-20 14:48] Karm commented on #261
Dropped from 1.0 GA, we will take a look after GA,

[2020-01-20 16:39] #259 closed

[2020-01-29 09:06] maeste commented on #233
@Karm WildFly19.Beta1 passed the MicroProfile 3.2 full TCK. Is it sufficient for you to start your work on this issue or do you need a final version? We don't have yet the date for the final version, most likely end of February.

@cealsair Could you add WildFly to the wiki? Or do you need final version to do that? In case you need here you have the blog post announcing 19.Beta1: https://wildfly.or

[2020-01-30 17:17] aguibert commented on #220
+1 to this issue. I think it's horribly confusing that the MP starter generates 2 app projects with a completely different structure based on the technologies selected.

Also, I don't think it's necessary to have an additional option to choose whether to generate two projects or not. Both technologies (Rest Client and JWT) can be illustrated just fine by generating one application. For example, to

[2020-01-30 18:38] rdebusscher commented on #220
That was the case for a long time but not really 'real world' style and thus changed (and thus generates 2 projects)

The default is also to not select any examples and thus it will generate only 1 application.

[2020-01-30 18:41] aguibert commented on #220
I'd argue the opposite, it is an antipattern of microservices to have two communicating services in the same repo . In the case of REST Client, the REST API Server could be any other service (controlled by same org as the client service, or it could be some third-party API such as weather.com)

[2020-01-30 20:53] kathrynkodama opened #264 "Include supported Java versions in the API support matrix"
From the VS Code extension standpoint, it would be helpful to include the Java SE Versions supported in the support matrix: https://start.microprofile.io/api/supportMatrix.

[2020-01-31 07:10] moghaddam commented on #172
Shouldn't we close this issue? :wink:

[2020-01-31 07:29] rdebusscher commented on #172
:)

[2020-01-31 07:29] #172 closed

[2020-01-31 07:34] #216 closed

[2020-02-03 06:54] rdebusscher commented on #264
We need to include the supported Java Versions for each runtime with each MP version in this case. Something like

      {"configs":{"MP32":{"supportedServers":["THORNTAIL_V2",...

becomes

      {"configs":{"MP32":{"supportedServers":[{"name":"THORNTAIL_V2","JDK":["jdk8","jdk11"]},...

[2020-02-03 11:34] Karm commented on #220
@aguibert

I would definitely call -1 on such a feature. We don't want to monitor the users. Besides, we already collect anonymized download data, so we have no need for it.

True, it can be demonstrated with a 1 example. It is confusing for new, inexperienced people who are learning though. The current format lifts this barrier, clearly showing that one standalone app talks to another standalone

[2020-02-03 11:35] Karm commented on #195
Quarkus 1.1.0.Final passed TCK for MP 3.2: https://wiki.eclipse.org/MicroProfile/Implementation

I will prepare a PR....

[2020-02-03 11:40] Emily-Jiang commented on #220
By default, it only generate one service, which satisfies what @saturnism asked. If you choose Rest Client, JWT, you will have two services generated as you need to demonstrate the microservice interaction via Rest Client or JWT. It does not make sense to use MP Rest Client or JWT in one single microservice.

[2020-02-03 12:21] Karm commented on #264
@kathrynkodama @rdebusscher Makes sense. It should be present in the new API version.

[2020-02-03 14:46] aguibert commented on #220
That's fine, glad we already collect the usage data.

Yes, this is the current behavior. I'm trying to point out that as a user I find this very confusing, and I also know that it's not necessary to have 2 microservices (that the user owns) in order to use/demonstrate these technologies. For example, it is very common to use REST Client to interface with some _other_ REST API -- it could be a REST

[2020-02-04 07:13] cchacin opened #265 "Upgrade the template to use OpenLiberty 19.0.0.12"
This is already changed in PR #263

[2020-02-04 10:14] rdebusscher commented on #265
@Emily-Jiang Thoughts on this if it is required/desired or not?

[2020-02-05 01:57] #265 closed

[2020-02-06 11:31] rdebusscher opened #268 "Updated supported MP versions to 3.2 for KumuluzEE."
See PR #267

[2020-02-06 11:31] #268 closed

[2020-02-06 11:36] #195 closed

[2020-02-06 11:37] Karm commented on #196
Will be fixed in #262

[2020-02-06 11:38] Karm commented on #157
Will be fixed in #262

[2020-02-06 11:39] Karm commented on #143
@rdebusscher Uh...I totally cannot recall what we wanted to do here...

[2020-02-06 11:42] #204 closed

[2020-02-06 11:42] #196 closed

[2020-02-06 11:43] #157 closed

[2020-02-06 11:46] rdebusscher commented on #143
MicroProfile is not allowed to use servlets and thus html page is not allowed.

That page should be removed and just documented in the readme which uRls users can call.

[2020-02-07 21:48] Emily-Jiang commented on #89
Just circle back on this. @mraible we have GAed start.microprofile.io and there is also command line support. Please comment here if you need any other info.

[2020-02-07 21:54] Emily-Jiang commented on #220
I don't see it is common though. Even in the same company, it does not prevent from creating two microservices. There is no need to use REST API inside one microservice to talk via REST client. I found it is hard to understand.
By the way, this starter is trying to cover golden path scenarios and not aim at covering all different variety of usages. For what you have describe, you can create one mi

[2020-02-07 21:55] Emily-Jiang commented on #220
@saturnism since start.microprofile.io generates one service by defult, are you happy for this issue to be closed?

[2020-02-07 22:02] saturnism commented on #220
yay! thank you.

[2020-02-07 22:44] #89 closed

[2020-02-07 23:47] aguibert commented on #220
I agree, there is no point in using REST Client for a microservice to talk to itself, but that's not what I was suggesting.

Is this change live? I just tried to download a sample with selecting only REST Client and I still got 2 services by default, and I didn't see any new option to generate 1 or 2 services.

[2020-02-07 23:51] aguibert commented on #220
I think there is confusion on what "by default" means.

@Emily-Jiang you seems to think "by default" means "not selecting JWT or REST Client"

What @saturnism asked for in the original issue is to get one service generated "by default" (i.e. regardless of what specs are selected)

[2020-02-08 12:22] Karm opened #270 "Docker based Circle CI builder does not handle multiple processes using sockets"
Switched to manually configured (java and maven) VM, i.e. "machine" builder.
Works fine.
Fixed in #269

[2020-02-08 12:23] Karm opened #271 "Add Quarkus to the TS"
SSIA, the new runtime needed to be added.

#269

[2020-02-08 12:26] Karm opened #272 "Whitelist benign error messages for various runtimes"
Payara, while run on Circle CI, complains about socket for Hazelcast clustering, Quarkus sometimes shows this apparently benign message after build [# 7062](https://github.com/quarkusio/quarkus/issues/7062), Kumuluzee downloads dependencies that have "error" in their names etc. etc.

All these benign, Starter unrelated messages from both build logs and runtime logs were whitelisted in #269

[2020-02-10 13:20] Karm commented on #235
Resolved.

[2020-02-10 13:20] #235 closed

[2020-02-10 13:29] Emily-Jiang commented on #220
What I meant by default you get one service is that you keep all the default choices. Once you choose Rest Client, you will get two services as they need to communcate with each other to demonstrate the client server architecture.

We discussed this issue again today. We don't think we want to add another option for end users to choose either one service or 2 services to be created. It complicates

[2020-02-10 13:32] Emily-Jiang commented on #220
@saturnism tried the start.microprofile.io and he likes it. What he means the default is to create one microservice without need to understand much and create a helloworld microservice to play with.

[2020-02-10 13:38] #271 closed

[2020-02-10 13:38] #270 closed

[2020-02-10 13:38] #220 closed

[2020-02-10 13:46] rdebusscher commented on #143
All runtimes supports providing an html page, so since it is useful, we keep it.

[2020-02-10 13:46] #143 closed

[2020-02-10 14:35] #272 closed

[2020-02-10 14:55] kathrynkodama opened #273 "Determine appropriate User-Agent header to send in API request"
When a request is made to the MP Starter API from the Visual Studio Code extension, what should be included in the User-Agent request header?

[2020-02-10 15:21] Karm commented on #273
@kathrynkodama

[code]

IMHO.

[2020-02-10 16:20] yeekangc commented on #273
Copy @moghaddam in case we want to do this for IntelliJ too.

[2020-02-11 07:24] Karm opened #275 "Circle CI: Sometimes the job lands on a weird VM where the maven build hangs"
Sometimes the job lands on a weird VM where the
maven build hangs for many minutes with no output
to the log, e.g. 10 minutes in:

```Resolving 216 out of 524 artifacts```

If there is no output to the log for such a long time,
Cirlce CI terminates the job.

[2020-02-24 13:46] cealsair opened #276 "Add a database to generated sample source code"
I was talking to Ray Tsang at Devnexus last week and he mentioned that he had tried the Starter in the past and he spent a LONG time figuring out how to set up a database to the working sample generated source code. It would be nice to include database connectivity (or at least instructions on how to do this) to the generated sample code.

Thanks,
Cesar

[2020-02-24 14:03] kenfinnigan commented on #276
I’m not sure if that’s a good idea.

MP doesn’t define anything around data, and trying to add something that works for all implementations would likely be cumbersome.

I’d prefer the starter not to cover non MP spec usage

[2020-02-24 14:06] rdebusscher commented on #276
-1

MicroProfile has no support for Databases/JPA as Ken mentions. And if we would implement this, then we need to add JMS, Kafka, LDAP, etc support also.

[2020-02-24 14:06] #276 closed

[2020-02-24 18:20] Emily-Jiang opened #277 "Add Database connection to MP Starter"
At DevNexus, Ray Tang from google told me and @cealsair that he tried MP starter and tried to get database connection to work but he spent a few hours without any luck. It is so hard to even get database connection to work with MicroProfile and Jakarta EE. He feels this is a real pain.

I think we can add database support over and above what MP supports to build a real world starter. My initial th

[2020-02-24 18:23] rdebusscher commented on #277
See #276

[2020-02-24 18:24] rdebusscher commented on #277
I guess it is 'difficult' when a MicroProfile runtime is not based on Java EE/Jakarta EE.

[2020-02-24 18:24] Emily-Jiang opened #278 "Should we randomly default to a MP runtime for new users"
At DevNexus, Ray Tang, Dev Advocate from Google, told me and @cealsair that he found the list of runtime is really confusing and dropped him to the deap end. As a new comer, he has no knowledge about which one to choose and he does not like the option to be left open.

I am thinking whether it is ok to randomly default to a supported runtime when opening up start.microprofile.io. Obviously, the de

[2020-02-24 18:26] rdebusscher commented on #277
If we do database, we also need JMS, Kafka, NoSQL, etc ...

The moment we go 'outside' of the MP specs, we need to cover all the things which can be integrated as we could no assume people only wants to integrate with a database.

And that is not maintainable.

[2020-02-24 22:19] kenfinnigan commented on #278
Would that default happen only after an MP version is chosen? Or would that default to the latest as well?

It wouldn't be good to randomly choose an implementation on an older MP version

[2020-02-24 22:20] kenfinnigan commented on #277
+100, this is not something the Starter should be covering

[2020-02-27 19:30] eitsch opened #279 "Add support for MP 3.3"
microprofile 3.3 was released [on 18.02.2020](https://projects.eclipse.org/projects/technology.microprofile/releases/microprofile-3.3/plan)

please enable generating MicroProfile Maven Projects with MicroProfile 3.3

[2020-02-27 19:35] Karm commented on #279
Hello @eitsch, the column "Passed TCK" needs to be populated first: https://wiki.eclipse.org/MicroProfile/Implementation

[2020-02-27 19:40] eitsch commented on #279
ty @Karm, also for the link.

should this issue be closed then? would be fine with me. i now better understand the way this works.

[2020-02-27 19:48] #279 closed

[2020-03-02 13:06] cealsair commented on #277
@rdebusscher we need to start thinking about moving the Starter project outside the spec project so that we can make it more developer friendly. I know there was a MP Hangout where people decided this was not a good idea. But in order to include functionality that will make the Starter better, we may need to add non-spec features to it.

[2020-03-02 13:29] cealsair commented on #277
I was just talking to @Karm and he has the idea of adding sample connectivity to a database as part of our future LRA sample code. He brought up the very good point of our working on generating sample source code for the specs outside the umbrella/platform. This is something we need to start working on. GraphQL is already out and we should probably add sample code for it to the Starter. I'll ping

[2020-03-09 09:20] Karm opened #280 "Introduce MP 3.3 to the Starter"

[2020-03-09 12:31] cealsair commented on #198
The MicroProfile Starter is about getting developers started quickly using MicroProfile by providing sample source code within a maven project. The key here is the sample source code, and not whether or not the runtime should run with ALL of the MP specifications in a selected umbrella release. In the world of microservices, cloud, containers and K8s, the size of the JAR/executable, containers and

[2020-03-10 11:38] Emily-Jiang commented on #278
It will be after an MP version is chosen.

[2020-03-10 11:39] Emily-Jiang commented on #280
Need to wait for at least two implementations available.

[2020-03-10 11:42] Emily-Jiang opened #281 "Open Liberty has a warning with Open tracing"
[WARNING ] CWMOT0010W: OpenTracing cannot track JAX-RS requests because an OpentracingTracerFactory class was not provided or client libraries for tracing backend are not in the class path.

[2020-03-10 11:53] Karm commented on #281
@Emily-Jiang  See

https://github.com/eclipse/microprofile-starter/blob/master/src/it/java/org/eclipse/microprofile/starter/utils/Whitelist.java#L37

[2020-03-10 11:53] Karm commented on #281
If it is a legitimate problem, delete it from the whitelist, please.

[2020-03-10 23:19] Emily-Jiang commented on #281
I am going to fix it and then delete the warning.

[2020-03-13 11:17] Emily-Jiang opened #283 "Promote your vscode plugin via MP vscode extension pack"
As you may know, we have [VSCode Extension Pack for MicroProfile](https://marketplace.visualstudio.com/items?itemName=MicroProfile-Community.vscode-microprofile-pack), which will be added to Java Overview page at the end March release of vscode. We would like to promote all of MP implementations via this extension pack. At the moment, we have Open Liberty, Quarkus and Payara.

@cesarhernandezgt wo

[2020-03-13 12:46] yeekangc commented on #283
Glad to add any MP impl that has a VS Code extension to the list.  Feel free to submit a PR directly to the repo that Emily mentioned above or file an issue.

[2020-03-16 13:03] cealsair opened #284 "Create hints for fields: Version, Runtimes, and each Specification"
To help developers better understand the MicroProfile Starter, create hints for fields:

- MicroProfile Version.  For example, when hovering over each MP version, or hovering over field name
- MicroProfile Runtimes. For example, when hovering over each runtimes, or hovering over field name
- Each specification under "Examples for specifications". This would give a short description of what the spe

[2020-03-16 13:04] cealsair commented on #277
Besides generating sample code for specifications outside the umbrella, this is another option to address this ease-of-use issue:
https://github.com/eclipse/microprofile-starter/issues/284

[2020-03-16 13:05] cealsair commented on #278
Here is another option to address this ease-of-use issue:
https://github.com/eclipse/microprofile-starter/issues/284

[2020-03-23 10:43] #233 closed

[2020-03-23 15:22] #275 closed

[2020-03-23 22:24] moghaddam opened #286 "Possibility to add Java 11 firstJava11SupportedVersion to REST API"
I'm trying to fix [JDK 11 Is Not Allowed In the Project Wizard](https://github.com/MicroShed/mp-starter-intellij-ext/issues/15). So in the new project wizard in IntelliJ, we need to know which implementation supports Java 11 and from which version. Something that we already have in starter UI (the firstJava11SupportedVersion property). Is it possible to expose this property as part of the REST API

[2020-03-24 09:12] Karm commented on #286
@moghaddam This is #264. It is on the todo list, I just haven't had the chance to look into it. Lemme prioritize it and do it soon.

[2020-03-25 06:34] ericglau opened #287 "Update Open Liberty Maven plugin version"
Open Liberty Maven plugin version is generated as 3.1 in https://github.com/eclipse/microprofile-starter/blob/master/src/main/java/org/eclipse/microprofile/starter/addon/microprofile/servers/server/LibertyServer.java

Update this to 3.2 to correspond to the [latest released version of the plugin](https://github.com/OpenLiberty/ci.maven/releases).

[2020-03-26 13:34] #287 closed

[2020-04-01 05:33] Karm opened #290 "Enhance Test suite to cover "Dev" and "Native" modes for runtimes that have them"
Current TS builds "bootable jars" for all runtimes, but Dev modes and Native image compilation are untested.

[2020-04-01 22:51] rafabene commented on #121
-1 The MP Version dropdown should act as filter. Thus no versions other than the selected should be visible.

[2020-04-09 06:32] rdebusscher commented on #277
a How To will be created or linked to the Wiki page https://wiki.eclipse.org/MicroProfile/Learning_Resources/MP_Starter_Additional_Resources

[2020-04-09 06:35] rdebusscher commented on #280
Already part of https://github.com/eclipse/microprofile-starter/pull/291

WildFly 19 also supports MP 3.3 so we have 2 implementations now.

[2020-04-09 12:32] kenfinnigan commented on #277
How and where was this agreed?

The discussion on https://groups.google.com/forum/#!topic/microprofile/bh3yruVQ1eI has only my comment after Cesar's original post.

[2020-04-19 22:25] Emily-Jiang opened #292 "Add MicroProfile 3.3"
Wildfly and Open Liberty both support MP 3.3. It's time to add the version of MP 3.3.

[2020-04-20 07:43] rdebusscher commented on #292
KumuluzEE also, and is already part of #291

[2020-04-20 07:44] rdebusscher commented on #292
Duplicate of #280

[2020-04-20 13:04] rdebusscher commented on #284
@cealsair Can you indicate what text you like in the hints that show when hoovered?

[2020-04-27 12:31] #292 closed

[2020-04-28 19:38] rzgry opened #294 "/api/supportMatrix missing some supportedServers and has duplicate values"
MP32 supported servers returns `KUMULUZEE` 3 times and is missing WildFly and Helidon when compared to https://start.microprofile.io/  web UI

[code]

[code]

![image](https://user-images.githubusercontent.com/16768710/80530160-9e13f900-8966-11ea-8f2a-b80362c0c581.png)

Occurs for https://start.microprofile.io/api/supportMatrix and same for the versioned endpoints ie
https://start.microprofile.io/

[2020-04-30 06:17] Karm commented on #294
I can confirm this is a problem:
[code]

I will be looking into it.  Right off the bat: The code for the REST API is pretty old and hasn't been changed in a while. On the other hand, WildFly and Kumuluzee servers were recently added/updated and it seems a weird coincidence that these two are also the problematic ones here. I will take a look at a couple of latest commits.

Regarding test suite: Th

[2020-05-01 08:27] Karm commented on #294
@rdebusscher

 - There must have been something wrong in the [PostConstruct initialization](https://github.com/eclipse/microprofile-starter/blob/v1.2.0-debug/src/main/java/org/eclipse/microprofile/starter/rest/APIService.java#L93:L124), like if it had been called twice (which it shouldn't...) and got into a race?

 - I wanted to use my weapon of choice when it comes to debugging live production VM

[2020-05-01 08:33] rdebusscher commented on #294
That sound like a bug in Thorntail as ApplicationScoped instances cannot be created/instantiated twice.

[2020-05-01 08:49] Karm commented on #158
Rescheduled to 1.4 so as not to block MP 3.3 update.

[2020-05-01 08:49] Karm commented on #290
Rescheduled to 1.4 so as not to block MP 3.3 update.

[2020-05-01 08:49] Karm commented on #286
Rescheduled to 1.4 so as not to block MP 3.3 update.

[2020-05-01 08:49] Karm commented on #284
Rescheduled to 1.4 so as not to block MP 3.3 update.

[2020-05-01 08:50] #280 closed

[2020-05-01 08:52] Karm opened #295 "Switch from JRE to JDK so as we have libinstrument.so loaded"
For purposes of debugging #294 if it occurs again.

[2020-05-01 08:56] #295 closed

[2020-05-01 09:01] Karm commented on #294
@rdebusscher Indeed.  The initialization code I use in the init method is obviously not thread safe, but I assumed it doesn't need to be as it was supposed to be called once by a single thread...   I will try to reproduce the issue in a smaller example app....

[2020-05-01 09:02] Karm commented on #281
Not an issue any more.

[2020-05-01 09:02] #281 closed

[2020-05-01 09:03] Karm commented on #284
related to https://github.com/eclipse/microprofile-starter/issues/236#issue-515332732   ?

[2020-05-01 09:16] Karm opened #297 "Quarkus should not have the MP version enforced in the pom.xml as <provided> dependency"
As I was instructed by [Quarkus people](https://github.com/quarkusio/quarkus/issues/8329#issuecomment-607823648), we should not generate this in Quarkus' pom.xml:

[code]

So I will exclude that for Quarkus generation....

[2020-05-01 12:14] #297 closed

[2020-05-04 12:31] rdebusscher commented on #284
For the MP Versions, use a link to the  release note. https://github.com/eclipse/microprofile/releases/tag/3.3 

For the Implementations use a link to the HomePage

Investigate again, create a custom renderer to have popups with full html support for the dropdown items.

[2020-05-04 13:24] Emily-Jiang commented on #284
I suggest to use the following hover text:
MicroProfile version: The released version of MicroProfile umbrella specification
For each item - e.g. 3.3 the hover text should link to the  [release](https://github.com/eclipse/microprofile/releases/tag/3.3 )

MicroProfile runtime: The list of runtimes that implement the selected MicroProfile version
Each runtime item - add a link to the runtime website

[2020-05-04 17:57] Karm commented on #286
Hello, @moghaddam, @kathrynkodama, @rdebusscher,

[code]

And for compatibility, the v3 maintains the former schema:

[code]

If you find the format helpful, I will push it into a PR....

[2020-05-04 18:00] moghaddam commented on #286
Looks good to me @Karm 👌

[2020-05-04 23:45] kathrynkodama commented on #286
@rzgry Can you take a look at this?

[2020-05-05 02:00] rzgry commented on #286
LGTM 👍

[2020-05-25 12:01] #264 closed

[2020-05-25 12:01] #286 closed

[2020-05-30 13:45] pehecoro opened #303 "Add Quarkus as a MicroProfile runtime to MP 3.3"
There is a blog post announcing 1.3 https://quarkus.io/blog/quarkus-eclipse-microprofile-3-3/, despite not having found on the implementation page https://wiki.eclipse.org/MicroProfile/Implementation

[2020-06-08 13:20] Emily-Jiang opened #304 "MP Starter does not demonstrate MP Open API"
The APIs in MP open api should be demonstrated. At the moment, there is no code snippet to demonstrate them. I suggest to add JAX-RS resource to demonstrate APIResponse etc.

[2020-06-08 16:21] Emily-Jiang opened #305 "Pull in the just-enough runtime from Open Liberty when choosing individual MP specs"
At the moment, no matter how much MP specs are chosen, the feature added is mp overall feature instead of the individual features.

[2020-06-09 19:48] andymc12 opened #306 "Starter for MP GraphQL 1.0"
MP GraphQL is a standalone spec, but it would certainly be nice to have a starter for it.  It has multiple implementations that I know of including Open Liberty 20.0.0.6 and Quarkus 1.5 (possibly also Wildfly) and could work with any servlet-based container if you include the SmallRye GraphQL jar and the MP GraphQL API jar in the WAR file.

Because GraphQL is a standalone spec, it is not associate

[2020-06-15 11:17] Karm commented on #303
Hello @pehecoro, Quarkus won't be added to MP 3.3 on Starter site due to ongoing disputes.

Everything in the blog post https://quarkus.io/blog/quarkus-eclipse-microprofile-3-3/, is valid though and you can safely use it.

[2020-06-15 11:17] #303 closed

[2020-06-15 13:14] rdebusscher opened #309 "Add Payara 5.2020.2 as MP 3.3 compliant"

[2020-06-15 13:53] rzgry commented on #286
@Karm Has this change been deployed anywhere?

Running `curl https://start.microprofile.io/api/supportMatrix/servers` still seems to return the old format, and `curl https://start.microprofile.io/api/4/supportMatrix/servers` does not work either. (same with https://test-start.microprofile.io)
[code]
[code]

[2020-06-16 13:21] Karm opened #310 "Liberty test failing on Circle CI: SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
Current master fails on Circle CI with the undermentioned exception. Mind that the test scans logs for ERRORs. It used to work just fine.

Given the fact I don't think there were any pertinent Liberty changes, I suspect that [this is turning out to be problematic](https://github.com/eclipse/microprofile-starter/blob/master/src/main/java/org/eclipse/microprofile/starter/addon/microprofile/servers/s

[2020-06-16 13:28] Karm commented on #286
@rzgry

Hello, it is deployed here now:   https://test-start.microprofile.io/api/supportMatrix/servers

The test-start is being overwritten with whatever we are testing/playing with at the moment. Sorry about the confusion.

We will be releasing to the production site soon.

[2020-06-17 10:08] Emily-Jiang commented on #309
@rdebusscher please add 5.2020.2 as MP 3.3 compliant to https://wiki.eclipse.org/MicroProfile/Implementation

[2020-06-18 11:40] #284 closed

[2020-06-18 11:41] #309 closed

[2020-06-19 09:19] Emily-Jiang commented on #310
What is the difference between your local environment and the circleCI? Why does it need to load slf4j class? Did you add the log recently? The logger needs to be mentioned as a dependency, not provided by runtime though as Liberty does not automatically package it.

[2020-06-19 09:25] Karm commented on #310
@Emily-Jiang

Circle CI starts with a clean slate. My local box has a tun of various files Liberty creates plus downlaoded artifacts...

No idea. It used to work.

No.

I think it's just that some Liberty update broke it and we don't know which since there is a version range in the pom instead of an explicit version.

What happens if you try it locally?

[2020-06-19 13:23] Emily-Jiang commented on #310
What happens if you try it locally?

The version range was in place many months ago.

[2020-06-19 14:05] Karm commented on #310
@Emily-Jiang

Well...and hasn't there been any Liberty updates the range would pick up?

[2020-06-22 13:02] Emily-Jiang commented on #306
@rdebusscher and I discussed today. @andymc12 can you create a simple example so that @rdebusscher will do the template based on your example. Contact @rdebusscher if you have any problems.

[2020-06-22 13:34] Emily-Jiang commented on #306
I took a further look at the MP GraphQL. It looks like this spec depends on Jakarta EE8. We need to think about this. At the moment, you can not select this spec together with others as the others are still based on Java EE8. The only thing we can do is to create a dedicate project without the need to choose other MicroProfile specs. Thoughts?

[2020-06-22 13:37] Karm opened #313 "Wrong URL for Wildfly"
The Wildfly web is https://www.wildfly.org/ not https://www.wildfly.io/

[2020-06-22 14:25] rdebusscher commented on #306
Jakarta EE 8 as provided, no? So does it matter then?

[2020-06-23 07:43] #313 closed

[2020-06-23 08:15] Karm opened #315 "A small test issue with parsing for MP33 after MP33 update"
[code]

[2020-06-23 08:18] #315 closed

[2020-06-23 13:54] andymc12 commented on #306
@rdebusscher right - the dependency should be using provided scope, so it should work with Java EE8 or Jakarta EE 8 environments.

As for example apps, I know of a few of them:
https://github.com/andymc12/ufo-movies - a movie database (similar to IMDB) for UFO movies
https://github.com/OpenLiberty/sample-mp-graphql - a weather app
https://github.com/eclipse/microprofile-graphql/blob/1.0.x-service/

[2020-06-29 12:28] Emily-Jiang commented on #310
@Karm I tried to replicate this but I got this error:
[code]
What else do I need to before running the command
`$ mvn clean verify -Pthorntail -Dtest='TestMatrixTest#liberty*' -Dskip.integration.tests=false -DSTARTER_TS_WORKSPACE=~/temp`

[2020-06-29 13:38] Karm commented on #310
@Emily-Jiang Resolved on the call, the culprit was the mysterious not-expanded `~/temp`. No idea why though. #NotAMacUser

[2020-06-30 22:14] Emily-Jiang commented on #310
Thank you @Karm ! As commented on gitter, I can't replicate this locally despite of using a brand new .m2 repo.

[2020-07-06 12:51] Emily-Jiang opened #317 "Change Health Check to Health"
We need to update Health Check on the GUI to Health to match the MP spec name.

[2020-07-06 12:54] rdebusscher commented on #306
I'll have a look at the Super Hero example of the TCK.

[2020-07-13 12:20] #236 closed

[2020-07-14 10:07] #317 closed

[2020-08-03 12:40] Emily-Jiang opened #322 "Demonstrate the tracing and JWT token propgagation"
It will be nice to create a service invocation chain service a->b->c to demonstrate the tracing span correlation and authentication propagation.

[2020-08-03 12:44] #304 closed

[2020-08-03 12:49] Karm opened #323 "Add test for OpenAPI pull/320"

[2020-08-17 12:40] #323 closed

[2020-08-20 13:06] Karm opened #327 "Weird Primefaces behavior on localhost (does not manifest on the hosted site)"
Hello,

I usually work via CLI when doing something with the Starter locally, but I tried the GUI on http://localhost:8080/ recently and this bit me:

# Steps to reproduce

* `mvn clean package -DskipTests -Pthorntail && unzip target/mp-starter-hollow-thorntail.jar -d target/mp-starter-hollow-thorntail`
* `java -cp ./target/mp-starter-hollow-thorntail org.wildfly.swarm.bootstrap.Main ./target/mp-s

[2020-08-20 14:02] Karm opened #328 "Liberty random fails are caused by it using an interval [19.0.0.9,)"
Hello, the mysterious error messagethe CI is catching is this one: `!MESSAGE FrameworkEvent ERROR` (full log below).

We are chasing ghosts. I can reproduce it locally too now. The reason is that *in the meantime* between the last locally run trial and the CI failing again, there was a new Liberty release which broke it.

I don't think we should be burning time chasing ghosts on Starter as its mai

[2020-08-23 17:51] rdebusscher commented on #327
This came with the introduction of the custom renderer for the links within the spec options added in https://github.com/eclipse/microprofile-starter/pull/299.

`at org.eclipse.microprofile.starter.view.renderer.CustomSelectManyCheckboxRenderer.encodeLabel(CustomSelectManyCheckboxRenderer.java:84)`

I'll see if I can find a solution, otherwise we need to revert this part of #236

[2020-08-24 12:56] rdebusscher opened #331 "Advanced Examples"
Add a 'advanced examples' checkbox.

When checked, for the selected specification we will generate more examples what is possible with the spec.

[2020-08-24 13:00] rdebusscher commented on #331
Config

Health

JWT
- See #322

Metrics

OpenAPI

Rest Client

[2020-08-24 13:02] Emily-Jiang opened #332 "Add sample to demonstrate MP Reactive Messaging"
Add MP Reactive Messaging sample for the supported runtime.

[2020-09-07 11:36] #327 closed

[2020-09-07 14:38] Karm opened #333 "Liberty: [err] SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder""
[code]

# Reproduce
[code]

JDK: OpenJDK, HotSpot 11.0.8+10  (11.0.8 GA).  it does not show with e.g. OpenJ9 11.0.5+10.

[2020-09-07 16:44] Emily-Jiang commented on #333
It looks my fix here https://github.com/eclipse/microprofile-starter/blob/master/src/main/resources/pom-servers.xml#L223 was not picked up. @rdebusscher do you know why the dependency I added from line 223 is not picked up? I can see the dependency prior to 223 was picked up.

[2020-09-09 06:34] rdebusscher commented on #333
Duplicate of #310?  PR #319 is not yet live.

[2020-09-09 10:34] Emily-Jiang commented on #333
Thanks @rdebusscher ! I thought @Karm pushed #310 to the test as it was merged. Am I right to say all merged PRs will pop up in the test-start.microprofile.io? This explains the misertery. @Karm can you get #319 to the test server?

[2020-09-09 11:14] Karm commented on #333
The automated push hasn't been happening for a while due to failing Liberty tests (unexpected error messages debated on the call).  I will temporarily disable Liberty tests so as the machinery of automated published merges works again.

https://github.com/eclipse/microprofile-starter/pull/334

[2020-09-21 15:08] scottkurz opened #335 "Should avoid use of hard-coded password in Open Liberty configuration"
Today we generate config like:

[code]

But it could be better to avoid hard-coded pre-defined passwords.   One alternative would be to leverage the keystore_password Open Liberty will generate by default:

[code]

Though we might want/need to use the liberty-maven-plugin `mergeServerEnv=true` option with this approach.

[2020-09-22 07:52] Karm commented on #335
@Emily-Jiang , are you going to pick this up or would you like me to look into it?

[2020-09-22 08:27] Emily-Jiang commented on #335
@Karm thanks! I will handle it.

[2020-09-22 12:33] scottkurz commented on #335
@Emily-Jiang  - My first thought was to simply remove the password like:

[code]

But looking at the doc: https://openliberty.io/docs/20.0.0.8/reference/config/keyStore.html I'm confused about a couple things.

The default location seems to be: ${server.output.dir}/resources/security/key.p12  and default type:  PKCS12

But it also says:

Should we just delete the default keystore config and use th

[2020-09-22 14:06] Emily-Jiang commented on #335
@scottkurz sounds good to me! Getting some input from Open Liberty security team sounds good.

[2020-09-22 20:24] scottkurz commented on #335
I did ask internally and got a vote to move to our default SSL config.

Is there any doc anywhere that might need to be updated to reflect this change?

I realize by going in a different direction than other runtimes, this would in theory prevent someone somehow iterating through all the supported runtimes and reusing the same certificate...   unless you're aware of some test process doing exactly

[2020-09-28 09:09] Emily-Jiang commented on #335
I am not aware of that. I think only one clarification to make is that this should not from runtime interacting. For an instance, service-a deployed to Open Liberty can still interact with other service deployed to other runtimes.

[2020-09-28 09:13] Emily-Jiang commented on #333
I tested against the test server and I think I have fixed this.

[2020-09-28 09:13] #333 closed

[2020-09-28 13:28] #335 closed

[2020-10-06 13:18] scottkurz opened #339 "Avoid use of hard-coded password in Open Liberty configuration"
See:  https://github.com/eclipse/microprofile-starter/issues/335  though the fix there broke the project tests, so was reverted.

[2020-10-12 17:17] Emily-Jiang commented on #339
Back to the drawing board. The previous PR #336 did cause JWT tests to fail though. A different solution needs to be provided.

[2020-10-12 19:00] scottkurz commented on #339
It seems like there could be two directions to go in, to enable the Open Liberty config change made in https://github.com/eclipse/microprofile-starter/pull/336.

1. Have the automated test generate the certificates using the password generated by the Open Liberty runtime.  It looks like they might be generated here https://github.com/eclipse/microprofile-starter/blob/master/gencerts.sh  but this m

[2020-10-21 16:49] gkwan-ibm commented on #339
and use p12 instead of JKS

[2020-10-22 21:24] tjquinno opened #342 "Add Helidon 2.0.2 and 2.1.0 support"
Helidon 2.0.2 supports MP 3.2.

Helidon 2.1.0 supports MP 3.3.

This issue captures updating the starter to reflect both.

[2020-10-23 15:53] tjquinno opened #344 "Add a way for vendor implementations to optionally specify a minimum Java version"
The starter already decides whether to add 11 (to 8) as an option for which Java release to use in generating the project. That is based on which release of MP the user selects.

It would be good to add a way for the data about a given vendor implementation to optionally specify a _minimum_ Java version it requires. This would be combined with the existing Java release information in calculating w

[2020-10-30 19:25] jim-krueger opened #345 "Confusion in TypeSafe Rest Client example readme.md files"
There are a couple problems with the readme.md files in the TypeSafe Rest Client example that can easily lead to confusion.

1. demo/readme.md:    This readme introduces the "service-a" and "service-b" projects and finishes with the following line: "Have a look in the `readme.md` file in each directory which describes how each project can be built and run."    This leads the user to think that the

[2020-11-07 22:31] #344 closed

[2020-11-09 22:03] #306 closed

[2020-11-09 22:04] Emily-Jiang opened #350 "Add some GraphQL info in readme"
We need to provide some basic description on MP GraphQL on readme.

[2020-11-10 18:04] andymc12 opened #353 "Add Liberty profile to allow easy deployment/testing in Open Liberty"
I've been running into some issues building the MP Starter app - I think the errors are related to deployment in Thorntail - basically the tests are failing.  In one case, they fail to compile in the default profile, but they also fail at runtime using the `-Pthorntail` profile.  This might just be my general lack of understanding with Thorntail.

In order to quickly and easily test my changes, I

[2020-11-10 20:03] rdebusscher opened #355 "Additional template variables"
mp_servername -> liberty, payara-micro, helidon, ... (SupportedServer.code value)
secondary_project -> true / false (true when there is a service-b project)

[2020-11-10 23:21] #355 closed

[2020-11-11 11:44] #342 closed

[2020-11-12 07:16] Joule-Flow commented on #80
Hey,

currently i am also trying to figure out, how to setup as a gradle project.
Are there any news regarding the progress of this issue?

Thank you in advance.

[2020-11-13 17:49] Emily-Jiang commented on #80
We will take a look at next week. If you would like to help, please indicate in this issue so that we can work with you.

[2020-11-16 13:42] #353 closed

[2020-11-16 13:55] Emily-Jiang opened #357 "Demonstrate MP 4.0 release"
Once MP 4.0 is released and runtimes support it, we need to demonstrate some killer features on MP 4.0.

[2020-11-16 18:03] sharpedavid opened #358 "Update payara-micro-maven-plugin to latest version"
Current version specified is 1.0.1, latest version is 1.0.5.

https://github.com/eclipse/microprofile-starter/blob/915f39e3ed90d520bbd7a7e4a62b0639846acb0d/src/main/resources/pom-servers.xml#L312

Resolves execution error "java.lang.IllegalArgumentException: Malformed \uxxxx encoding" described at https://github.com/payara/Payara/issues/4943.

[2020-11-17 16:01] #345 closed

[2020-11-17 16:55] #350 closed

[2020-11-23 12:59] #358 closed

[2020-11-23 16:43] Karm opened #360 "API access on /api/project is broken since 74e0292cc8871a8c72c37ac09c8e0b496edfb97d"
[code]

From debugger:

[code]

![screenshot](https://user-images.githubusercontent.com/691097/99989809-5a298b00-2db3-11eb-97dd-b8c44da8f6a7.png)

[2020-11-23 16:43] Karm commented on #360
FYI @rdebusscher

[2020-11-23 17:01] Karm commented on #360
It seems `"specs"` and `"standaloneSpecs"` are being confused and/or insufficiently processed in API.
@rdebusscher What was your expected API access solution for standalone specs?

[2020-11-23 17:29] Karm opened #361 "Helidon: Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project helidon-service-a: Fatal error compiling: error: release version 1.8 not supported"
It seems Helidon won't compile with default 1.8?

[2020-11-23 17:47] Karm opened #362 "Broken Readme.md generation, no URL for service-a"
[code]
commit  / @jim-krueger IMHO, made the URL disappear from e.g. /tmp/thorntail/service-a/readme.md

Test suite cannot parse the URL from the REadme and it fails.  This is a blocker.

[2020-11-23 17:54] Karm commented on #360
IMHO fixed by:

[code]

...but that doesn't solve handling of standalone specs by the API.

[2020-11-23 18:38] rdebusscher commented on #361
Correct, Helidon 2 only is supported on JDK 11.  This is handled in the UI and API endpoint by https://github.com/eclipse/microprofile-starter/pull/346

[2020-11-23 18:38] rdebusscher commented on #360
I have a look again

[2020-11-26 19:09] rdebusscher commented on #360
Remember it again. Initially I thought I could handle standalone specs the same way as the other specs. It turned out not the case and I forgot to support it through the API.

I'll create a PR to fix this.

[2020-11-26 19:56] Karm commented on #360
@rdebusscher I wonder if we could make it simpler...? I understand the need for visual clues in GUI, but perhaps in API we might assume the user already more or less knows what it going on? Adding a whole new option to the API makes it more complicated for listing of mapping server runtime : supported spec (example) and also for VSCode binding IMHO...
Could it be treated in API the same as other s

[2020-11-27 17:48] Emily-Jiang commented on #361
Is there any ways we can exclude helidon when compiling using Java8 or we have to upgrade to use JDK11 from now on?

[2020-11-27 18:30] rdebusscher commented on #361
Not sure where that error came from as JDK11 is always set in the generated project for Helidon (when using Helidon 2)

[2020-11-30 13:36] #362 closed

[2020-11-30 13:55] #360 closed

[2020-12-03 07:13] rdebusscher commented on #361
See also comments on https://github.com/eclipse/microprofile-starter/pull/366

[2020-12-03 15:02] Emily-Jiang commented on #361
I think the jdk used for testing this might be Java 8. It suggests that it is no longer possible to use Java 8 to compile this starter jar.

[2020-12-03 21:33] rdebusscher commented on #361
I did test the new Java SE selection with the API before and it worked at that time. But it seems there is still a problem with Helidon.

But when I fix that, locally the tests run fine but not by he Github actions. https://github.com/rdebusscher/microprofile-starter/actions/runs/399166324

So not sure what is going on (seems Helidon doesn't start at all)

[2020-12-03 22:14] Emily-Jiang commented on #361
Shall we disable Helidon until a fix is available?

[2020-12-11 10:59] Karm commented on #361
Fixed by #369

[2020-12-11 10:59] #361 closed

[2020-12-11 11:03] Karm opened #371 "Liberty runs contain errors in logs, tests are failing due to unexpected error messages, e.g. "!MESSAGE FrameworkEvent ERROR""
Hello @Emily-Jiang,

GitHub Action on master failed for Liberty: https://github.com/eclipse/microprofile-starter/runs/1536608663?check_suite_focus=true

The issue is still there. As noted numerous times before, the intermittent failure of Liberty needs to be fixed. I don't know what is wrong with it.

See e.g.

[code]

or

[code]

[2020-12-21 14:02] Karm commented on #310
We will disable Liberty on Circle CI.

[2020-12-21 14:02] #310 closed

[2020-12-21 14:03] Karm commented on #328
Keeps happening on Circle CI. Works on Github Workflows and locally these days.  We disable Liberty on Circle CI.

[2020-12-21 14:03] #328 closed

[2020-12-21 14:04] Karm commented on #371
We disable Liberty on Circle CI.

[2020-12-22 16:05] tjquinno opened #379 "Update to use newly-released Helidon 2.2.0 for MP 3.x"
Helidon has just released 2.2.0 which should be the version used for MP 3.x in the starter.

I will create the simple PR for this.

[2020-12-25 08:55] #379 closed

[2021-01-04 10:25] Emily-Jiang opened #381 "GraphaQL demo is not working"
I tried to test the GraphQL addition on test-start.microprofile.io. I found the following issues:
1. the Readme on service-a is not updated with the additional graphql instructions
2. after choosing GraphQL box, the code was generated but the endpoint was not available. We need to update the index.html to include the endpoint of graphQL as well.

[2021-01-04 11:46] Karm commented on #381
Hello, I have a fix, it was just a typo.   Committing...

[2021-01-04 12:04] Joseph-Cass opened #382 "Update `See The Code` link"
On https://start.microprofile.io/ the `See The Code` link links to the [Issues page](https://github.com/eclipse/microprofile-starter/issues). I think the [Code page](https://github.com/eclipse/microprofile-starter) would make more sense?

[2021-01-04 12:08] Emily-Jiang commented on #381
@Karm where was your comitting or your PR?

[2021-01-04 12:36] Karm commented on #381
@Emily-Jiang Not opened yet. I am adding a test too.

[2021-01-05 07:13] #381 closed

[2021-01-05 10:22] Emily-Jiang opened #384 "GraphQL tooltip is wrong"
On test-start.microprofile.io, when you hover over graphql, you will see the link to the GraphQL release. However, the link includes %s, which was not substituted.

[2021-01-05 11:51] Karm commented on #384
@Emily-Jiang The fix is this method:

[code]

I'm gonna push some refactoring, painting the bikeshed and this fix....

[2021-01-05 13:44] Karm commented on #384
Fixed by #386

[2021-01-05 13:44] #384 closed

[2021-01-08 15:05] kathrynkodama opened #387 "GraphQL description formatting inconsistency"
The description of GraphQL in the support matrix has a slightly different format than the existing descriptions where it uses `:` as a separator. Existing descriptions use `-` as a separator.

"GraphQL: GraphQL is a query language for APIs and a library for fulfilling those queries with your existing data." vs "Metrics - Gather and create operational and business measurements for your microservice

[2021-01-08 17:06] Karm opened #389 "POST JSON API does not handle standalone specs correctly"
From gitter:

[2021-01-08 17:09] Karm opened #390 "Broaden test coverage so as TS downloads also via POST JSON API"
The TS uses GET and query params to download projects. That has bitten us two times recently:

#388
#389

The goal is to let TS runs twice, once a "dry run" with JSON POST API just to download zips, and the second time with GET and let it unzip archives and build & run runtimes examples as it is doing now.

[2021-01-08 17:10] Karm commented on #387
Thx @kathrynkodama for the report.

[2021-01-09 14:18] rdebusscher commented on #387
The missing - seems also responsible for the difference in display for GraphQL in the Official JetBrains plugin.
<img width="666" alt="intellij_mpstarter_plugin" src="https://user-images.githubusercontent.com/1228265/104093897-e4f41580-528d-11eb-8cf5-8c94cdda415c.png">

[2021-01-10 21:12] #387 closed

[2021-01-10 21:13] #389 closed

[2021-01-10 22:21] Emily-Jiang opened #393 "Some data not populated correctly on the graphql query"
I tried to test GraphQL query via start.microprofile.io but found out the hero location and superpower data were not populated correctly.

Query:

query allHeroes {
    allHeroes {
        name
        primaryLocation
        superPowers
        realName
    }
}

Result

{
  "data": {
    "allHeroes": [
      {
        "name": "Iron Man",
        "primaryLocation": null,
        "superPowers": nul

[2021-01-11 09:10] Karm commented on #393
@Emily-Jiang  Post your query pls...

[2021-01-11 15:20] rdebusscher commented on #393
@Emily-Jiang  Missing some setters which results in the JSON not properly converted. I create a PR.

[2021-01-11 16:01] Emily-Jiang commented on #393
@andymc12 and I made the same changes as posted by @rdebusscher in parallel and it did fix the issue. We can merge the PR provided by @rdebusscher and release 1.5.2.

[2021-01-11 16:03] #393 closed

[2021-01-19 17:21] dbnex14 opened #396 "Does it work with WAS 8.5 server?"
Hi, I am looking for some way to capture metrics data but our RESTFUL API (built in JavaEE 8, JAX-RS) is running on WAS 8.5 server from IBM.  I cannot find information if it will work for me in this case anywhere and I am wondering if anyone can provide me with that answer?
Thank you

[2021-01-19 21:27] Emily-Jiang commented on #396
@dbnex14 WAS 8.5 does not support MicroProfile specification, so the APIs do not work there. You should consider moving to Open Liberty instead, which supports the full set of MicroProfile specifications. By the way, this is not the right place for that discussion.

[2021-01-25 14:22] Emily-Jiang commented on #80
@cesarhernandezgt will you be able to provide some instructions on how to enable gradle plugin for TomEE?

[2021-01-25 14:24] Emily-Jiang commented on #80
@tjquinno will you be able to provide some instructions on how to enable gradle plugin for Helindon so that @rdebusscher can incorporate in his PR #385

[2021-01-25 14:51] Karm commented on #80
@Emily-Jiang
 * Quarkus :heavy_check_mark:  Should not be a problem...
 * WildFly :warning:  I need to investigate. Not sure if the plugin needed has a Gradle counterpart...
 * Thorntail :x: Nope, Thorntail is EOL, people should be embarking on a migration path towards either Quarkus or WildFly, so I would leave Thorntail as it is...

[2021-01-25 18:07] tjquinno commented on #80
@Emily-Jiang @rdebusscher

Helidon publishes this page about `gradle` support: https://helidon.io/docs/v2/#/mp/guides/26_gradle_build

And from there is a link to a `build.gradle` file we document: https://github.com/oracle/helidon/tree/2.2.0/examples/quickstarts/helidon-quickstart-mp

I am not much of a gradle expert but please let me know if there are questions and I'll try to get them answered.

[2021-01-26 07:39] urbim commented on #80
@Emily-Jiang KumuluzEE currently doesn't support gradle. If and when we implement the feature we will let you know.

[2021-02-01 14:14] Karm opened #397 "Add Gradle axes to the TS"
The current TS parses README file to find the first mvn command and it uses that to build the example app. That way readme is actually tested too.

We need to broaden the logic to create also Gradle specific run, scanning the readme for gradle command.

[2021-02-19 17:12] tjquinno opened #399 "Use Helidon 2.2.1 for MicroProfile 3.3"
Adopt the current Helidon release which supports MP 3.3

[2021-02-20 17:29] nssachin opened #401 "Restclient 1.4 spec external url is broken"
Hi,
Microprofile Rest client 1.4.0 release external URL is broken and it takes to `404` page.
### Steps:

1. Select MicroProfile Version `MP 3.3`
2. Click on TypeSafe Rest Client external url which takes to `https://github.com/eclipse/microprofile-rest-client/releases/tag/1.4.0` and throws `404`

The release tag version seems to be configured in `VersionSpecMatrix` class and it seems to be wrongly

[2021-02-20 18:09] #399 closed

[2021-02-21 12:43] nssachin commented on #401
Hi,
Similar issue exist for OpenAPI url too. Currently the url is taking to `https://github.com/eclipse/microprofile-open-api/releases/tag/1.1` and giving `404`. Similar to Rest Client release tag issue OPEN API needs to point to `mp-openapi-1.1` instead of `1.1`

This might not be an issue from OpenAPI 2.0 release since the release tag format seems to match other projects.

[2021-02-22 14:24] Emily-Jiang opened #402 "MP JWT demo code not configurable"
At the moment, the JWT demo code uses JAX-RS client to invoke the back end and it is not configurable. When we deploy the apps to k8s, it will not work any more as port would be different.

We need to use Rest client to have the back end url configuration, maybe using the SPI version of MP Rest client.

[2021-02-28 19:11] jreznot commented on #294
Also, from https://start.microprofile.io/api/supportMatrix GRAPHQL is not included to any of MP versions
E.g. for MP33:
[code]

GRAPHQL is in specCodes, but not in specs.

[2021-03-01 14:06] Karm commented on #294
@jreznot That would be a new issue I believe.

[2021-03-01 14:08] Emily-Jiang commented on #401
We need to update to 1.4.0 instead of 1.4. The link should be https://github.com/eclipse/microprofile-rest-client/releases/tag/1.4.0.

[2021-03-01 14:19] Emily-Jiang commented on #294
@jreznot `specCodes` are the specs that works with MicroProfile versions. `mp GraphQL` is a standalone spec that do not belong to any MP versions. We could use a different heading to differentiate the `specs` and `specCodes`. @Karm @rdebusscher thoughts?

[2021-03-01 14:25] Emily-Jiang opened #403 "How to represent the standalone releases in the apis of supportMatrix"
@jreznot reported this issue:
from https://start.microprofile.io/api/supportMatrix GRAPHQL is not included to any of MP versions
E.g. for MP33:

    "MP33": {
      "supportedServers": [
        "LIBERTY",
        "LIBERTY",
        "KUMULUZEE",
        "WILDFLY",
        "HELIDON",
        "WILDFLY"
      ],
      "specs": [
        "CONFIG",
        "FAULT_TOLERANCE",
        "JWT_AUTH",

[2021-03-01 14:27] Emily-Jiang commented on #294
Based on what @Karm said, the issue reported by @jreznot is different from this issue. I have opened a [new](https://github.com/eclipse/microprofile-starter/issues/403) one to address the concern from @jreznot .

[2021-03-01 14:27] Emily-Jiang commented on #294
Close this issue as it is not happening any more.

[2021-03-01 17:41] Emily-Jiang opened #405 "Update Liberty's maven plugin version"
Open Liberty has released new version of maven plugin, 3.3.4. The current plugin version this starter uses is 3.2. Just need to upgrade the version.

[2021-03-01 17:49] Emily-Jiang opened #407 "Enable dependbot"
Integrate with dependbot to manage the plugin dependencies

[2021-03-02 10:57] Emily-Jiang commented on #294
<img width="676" alt="image" src="https://user-images.githubusercontent.com/10999780/109638607-1d092d80-7b46-11eb-8023-7e015e8931d5.png">

[2021-03-02 10:58] Emily-Jiang commented on #294
Reopen as I hit this issue today.

[2021-03-03 18:42] #401 closed

[2021-03-18 08:18] rdebusscher opened #409 "Configure MP 4.0 with initial implementations"
Define MP 4.0 in the starter.
Not updating the examples for MP 4.0, that is done later in #357

[2021-03-25 22:31] #405 closed

[2021-03-25 22:31] #407 closed

[2021-04-07 17:19] Emily-Jiang opened #413 "Open Liberty printed out an error message for open api"
While working on getting MP 4.0 supported on mp starter. The following error messaged was displayed from Open Liberty:

[code]
After further investigation, it turned out the error message was correct and it reported the wrong usage of schema.
In the BookingController.java, it adds the schema with both `ref` and `mpl`. According to the [open api javadoc](https://github.com/eclipse/microprofile-open

[2021-04-07 17:27] Emily-Jiang commented on #409
Reopen this issue as the PR is not quite working.

[2021-04-08 10:08] Emily-Jiang commented on #409
@rdebusscher the MP 4.0 does not work for some reason. When I selected MP 4.0 from test-start.microprofile.io, all of the runtime showed up and the rest fields were greyed out.

[2021-04-08 12:13] rdebusscher commented on #409
Nothing UI related changed, so no idea why this happens.

[2021-04-22 21:24] #413 closed

[2021-04-26 12:43] rdebusscher commented on #409
Fixed by #417

[2021-04-26 12:43] #409 closed

[2021-04-26 12:49] #396 closed

[2021-04-26 12:52] rdebusscher commented on #277
2 implementations have provided some steps linked from that wiki page.  More can be added if they become available.

[2021-04-26 12:52] #277 closed

[2021-05-16 21:14] tjquinno opened #419 "Use Helidon 2.3.0 for MP 3.3 apps"
Helidon has released 2.3.0, the latest which supports MP 3.3.

The starter should change to use 2.3.0 for generating Helidon apps.

[2021-05-17 07:56] #419 closed

[2021-05-24 13:08] Karm opened #421 "Web GUI: Gradle option checked: Not all runtimes should be listed"
![image](https://user-images.githubusercontent.com/691097/119352414-f3bdf080-bca1-11eb-95b5-5c7982f6cb73.png)

[2021-05-24 13:12] Karm opened #422 "Gradle: Microprofile dependencies don't work unless switched to providedCompile 'org.eclipse.microprofile:microprofile:4.0.1'"
Hello,

I tried to import a demo project with Wildfly, MP4 and gradle into IDEA and I had to do the undermentioned change in the build.gradle to make it work:

[code]

[2021-06-02 10:20] #422 closed

[2021-06-07 13:17] Emily-Jiang commented on #403
Talking with @rdebusscher : Since GraphQL is not part of MicroProfile umbrell release, it is correct not to be included in MP 3.3. Since specCodes lists GRAPHQL, so it should be ok. I was able to tick GraphQL on vscode extension. Please reopen if this comment does not address your issue.

[2021-06-07 13:17] #403 closed

[2021-06-07 13:24] Emily-Jiang commented on #397
@Karm any update on this. We are nearly there with Gradle support.

[2021-06-14 13:18] Emily-Jiang commented on #421
@Karm and @Emily-Jiang used the test UI and found that the GUI was still having issues. If you choose an older version of MP version, such as MP 2.1, TomEE runtime was listed, which should not.
Also, if you don't choose MP version, choosing gradle first lists a lot of runtimes that do not support gradle.

[2021-06-14 13:19] Emily-Jiang commented on #421
<img width="1012" alt="image" src="https://user-images.githubusercontent.com/10999780/121898587-71ae6e00-cd1b-11eb-830b-e611af5f80c3.png">

[2021-06-14 13:59] Karm commented on #421
[code]
@Emily-Jiang
^^^   Tomee is marked as supporting Gradle, so it's O.K. actually...

[2021-06-14 14:05] Karm opened #426 "TomEE, MP 21, gradle, no commands in readme.md, build does not do anything"
[code]

The readme is missing gradle commands hints....

[2021-06-14 14:06] Karm commented on #426
@Emily-Jiang  The build does not do anything though.   Isn't Tomee included in gradle support by mistake?

[2021-06-16 09:37] rdebusscher commented on #426
Initially indicated Gradle support for TomEE as they have a Gradle Plugin but actually not tested out.

And probably the Gradle commands are not shown as, in the end, it was not possible to have something generic for Gradle for all runtimes as we have for Maven.

So, unless TomEE steps in and provide all info for using the Gradle plugin and tests it out, we can remove Gradle support from Starter f

[2021-06-21 09:42] Emily-Jiang commented on #421
@Karm I thought only 3 runtime support Gradle. @rdebusscher can you confirm?

[2021-06-21 10:28] Karm commented on #421
"Support Gradle" is a broad term. Runtime might support gradle, but not a bootable jar way or it requires additional plugin or task etc.  So it's not uniformly `gradle assembly` for all.

See my comments on gitter.

[code]

+ Liberty is failing JWT tests when built and ran with gradle, see:

https://github.com/eclipse/microprofile-starter/pull/427#issuecomment-864897834

[2021-06-23 12:07] tjquinno opened #432 "Use Helidon 2.3.1 for MP 3.3 apps"
Helidon has released 2.3.1 which supports MP 3.3.

[2021-06-23 13:10] #432 closed

[2021-06-24 22:29] Karm opened #433 "Gradle build files: versions, e.g. Helidon version, are hardcoded and incorrect"

[2021-07-07 14:20] bdemers commented on #303
@Karm can you provide more context around this?

[2021-07-07 15:05] Karm commented on #303
@bdemers could you be more specific with the question, please?

[2021-07-07 17:24] bdemers commented on #303
@Karm sorry about that!

Specifically, what are the ongoing disputes keeping Quarkus from being listed on `start.microprofile.io` under MP 3.3?

[2021-07-07 19:14] Karm commented on #303
@bdemers Ah, that:
Whether MicroProfile compliant runtime has also pass selected Jakarta EE TCKs, where Quarkus has its differences when it comes to CDI. Starting MicroProfile 4.1, that is no longer mandated as only MicroProfile TCKs are required: https://github.com/eclipse/microprofile/pull/215

TL;DR:  The debate was not related to MicroProfile specification. Quarkus is passing MicroProfile TCKs

[2021-07-07 19:44] bdemers commented on #303
Thanks, @Karm! very helpful!

[2021-07-12 16:00] tjquinno opened #435 "Use Helidon 2.3.2 for MP 3.2"
Helidon has released 2.3.2 which the starter should use for MP 3.2 projects.

[2021-07-12 17:07] #435 closed

[2021-07-26 16:21] jreznot opened #436 "MicroProfile starter generates privateKey.pem file"
Why does MicroProfile starter generates privateKey.pem file?

Use case:

1. Choose MP 3.3
2. Runtime - Helidon
3. Download

Archive contains: `src/main/resources/privateKey.pem` file. What is it?

[privateKey.zip](https://github.com/eclipse/microprofile-starter/files/6879786/privateKey.zip)

[2021-07-26 16:37] rdebusscher commented on #436
Hi,

The privateKey.pem file is generated so a JWT can be created to
demonstrate the possibilities of JWT Auth spec (and passing info as a
custom claim)

Regards
Rudy

On Mon, 26 Jul 2021 at 18:22, Yuriy Artamonov ***@***.***>
wrote:

[2021-07-26 16:48] jreznot commented on #436
Then may be it is a bug? I do not choose JWT Auth examples checkbox.

[2021-07-27 06:11] rdebusscher commented on #436
I can reproduce it with Helidon, but not with Payara Micro for example.

[2021-08-04 22:18] #426 closed

[2021-08-04 22:18] #421 closed

[2021-08-04 22:19] Karm commented on #397
Done.

[2021-08-04 22:19] #397 closed

[2021-08-04 22:20] Karm commented on #371
Out of date

[2021-08-04 22:20] #371 closed

[2021-08-04 22:21] Karm commented on #80
Done.

[2021-08-04 22:21] #80 closed

[2021-08-06 13:15] kathrynkodama opened #438 "Include build tools in the support matrix"
Currently Gradle and Maven are not included in the support matrix: https://start.microprofile.io/api/supportMatrix

The support matrix is used for filtering in the the [VS Code Extension](https://github.com/MicroShed/mp-starter-vscode-ext)

[2021-08-09 13:23] rdebusscher commented on #438
I propose we add the supported build tools for each runtime within the /api/supportMatrix/servers endpoint.  As the Gradle/Maven support is based on the runtime.

I'll check more in details later on and propose a PR.

[2021-08-31 22:01] Karm opened #440 "Test in TS for https://github.com/eclipse/microprofile-starter/pull/439"

[2021-09-06 21:37] Karm opened #441 "BuildTools in supportMatrix/servers API call does not behave correctly"
Hello,

The current implementation is behaving incorrectly. There should be a valid BuildTools element for the latest API version, i.e. `/api/` and for it's version called 6, i.e. `/api/6/`.

The current situation is different though. The latest shows BuildTools, version 6 shows null and older versions are showing BuildTools again. Older API versions should not be showing any new elements.

[code]

[2021-09-08 07:50] Karm commented on #441
Fix and test in progress...

[2021-09-08 22:49] Karm opened #443 "com.kumuluz.ee:kumuluzee-maven-plugin:3.9.0:repackage failed.: UnsupportedOperationException"
GitHub CI keeps failing for KumuluzEE on:

[code]

I cannot reproduce locally. Hmm...

[2021-09-09 09:54] Emily-Jiang opened #444 "Failed to execute goal org.apache.maven.plugins:maven-war-plugin:2.2:war (default-war) on Open Liberty"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-war-plugin:2.2:war (default-war) on project talk-service-a: Execution default-war of goal org.apache.maven.plugins:maven-war-plugin:2.2:war failed: Unable to load the mojo 'war' in the plugin 'org.apache.maven.plugins:maven-war-plugin:2.2' due to an API incompatibility: org.codehaus.plexus.component.repository.exception.ComponentLookupE

[2021-09-09 11:03] Emily-Jiang commented on #443
I hit the same issue. I tried to update the plugin version to 3.12.1, which did not fix the issue. Should we disable the tests for KumuluzEE for the time being as I need to get my fix in so that I can do a demo tomorrow?

[2021-09-09 11:46] #443 closed

[2021-09-09 11:46] Karm commented on #443
Solved by enforcing Maven version 3.6.3

[2021-09-09 13:10] #440 closed

[2021-09-09 13:10] #441 closed

[2021-09-09 17:46] #444 closed

[2021-09-10 11:48] #438 closed

[2021-09-10 11:49] Karm commented on #438
Resolved #442 #439

[2021-09-10 11:51] Karm commented on #261
This has been implemented some time ago.

[2021-09-10 11:51] #261 closed

[2021-09-10 11:51] Karm commented on #75
This has been implemented some time ago by Rudy. Closing.

[2021-09-10 11:51] #75 closed

[2021-09-10 19:09] kathrynkodama opened #446 "Update build matrix to specify "Typesafe REST Client""
On https://start.microprofile.io/ the Rest Client spec is called "TypeSafe Rest Client" but in the servers support matrix https://start.microprofile.io/api/6/supportMatrix/servers it is just referred to as "Rest Client".

The servers support matrix should be updated to specify "TypeSafe Rest Client"

[2021-09-13 13:19] Emily-Jiang opened #447 "update war plugin version for starter war on Open Liberty"
When testing mp starter war on open liberty locally, I got the following error:
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-war-plugin:2.2:war (default-war) on project starter: Execution default-war of goal org.apache.maven.plugins:maven-war-plugin:2.2:war failed: Unable to load the mojo 'war' in the plugin 'org.apache.maven.plugins:maven-war-plugin:2.2' due to an API incompatibi

[2021-09-20 13:07] Emily-Jiang commented on #447
Fixed by #449

[2021-09-20 13:13] #446 closed

[2021-09-20 13:13] #447 closed

[2021-09-20 13:21] Emily-Jiang commented on #294
I have not seen this lately. Have anyone else?

[2021-09-20 13:24] Emily-Jiang commented on #294
@Karm and I discussed this today. We have not seen this for some months. This might be fixed by updating jvm to jdk3 #295 . Close for now. Reopen if it happens again.

[2021-09-20 13:24] #294 closed

[2021-10-03 13:58] ozkanpakdil commented on #443
Hi, @Karm I am having a similar error in https://github.com/ozkanpakdil/test-microservice-frameworks

**Error:  Failed to execute goal com.kumuluz.ee:kumuluzee-maven-plugin:3.12.1:repackage (package) on project eclipse-microprofile-kumuluz-test: Execution package of goal com.kumuluz.ee:kumuluzee-maven-plugin:3.12.1:repackage failed.: UnsupportedOperationException -> [Help 1]**

this started happen

[2021-10-25 15:09] Emily-Jiang opened #451 "Support MicroProfile 4.1"
Starter needs to support MicroProfile 4.1 - the current impl will be listed under https://github.com/microprofile/microprofile-wg/issues?q=is%3Aissue+is%3Aopen+label%3A%22MP+4.1%22 for the time being.

[2021-11-10 17:02] jim-krueger opened #452 "MP 3.2 specifies wrong jaeger-client version resulting in error"
MP 3.2 uses mpOT-1.3, which should use jaeger-client:0.34.x but instead attempts to use jaeger-client:1.5.0 which results in the following exception:

java.lang.NoSuchMethodError: io/opentracing/ScopeManager.activeSpan()Lio/opentracing/Span; (loaded from file:/Users/jckrueg/Demo/11-10-21/demo/service-a/target/liberty/wlp/dev/api/third-party/com.ibm.websphere.appserver.thirdparty.opentracing.0.31.0

[2021-11-15 13:49] rdebusscher opened #454 "Replace Thorntail as runtime on start.microprofile.io"
Thorntail is no longer in development and abandoned. We need to select another runtime for executing the application on start.microprofile.io

[2021-11-17 10:03] #452 closed

[2021-11-19 13:42] rosariop opened #457 "Maven Clean Package throwing exception on a fresh generated project"
I tried to build a proof of concept today, generated a fresh project.
[code]
mvn --version:
[code]

mvn clean package throwing:
[code]
I deleted my .m2 folder and repackaged but that did not help.
Verified that the artifactId is not the problem by generating the same project with an other artifactId / groupId

[2021-11-19 13:54] rosariop commented on #457
On my fedora notebook it's working.
[code]

[2021-11-22 19:15] rdebusscher commented on #457
Hi,

The windows machine is running JDK 16 (the fedora one is running JDK 11)

On JDK 16 and above, you need a newer version of the Maven War Plugin due
to the stricter encapsulation.

            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-war-plugin</artifactId>
                <version>3.3.1</version>
            </plugin>

Regards
Rudy

[2022-01-24 16:12] Emily-Jiang opened #459 "Support MicroProfile 5.0"
Since MicroProfile 5.0 was relaesed in Dec, we need to update starter to support MicroProfile 5.0.

[2022-01-24 16:14] Emily-Jiang opened #460 "Support Java 17"
We need to add Java 17 as an option for Java versions.

[2022-01-31 15:04] #402 closed

[2022-02-03 00:16] tjquinno opened #462 "Use Helidon 2.4.1 for MP 3.2"
Use the newly-released Helidon 2.4.1

[2022-02-04 08:35] #457 closed

[2022-02-09 16:56] tjquinno opened #464 "Use Helidon 2.4.2"
Use Helidon 2.4.2 for generated projects for MP 3.3

[2022-02-09 22:59] #464 closed

[2022-02-21 15:54] #451 closed

[2022-02-27 22:40] Emily-Jiang opened #466 "Remove some MP versions from the version dropdown list"
The version dropdown list is too long. Since this is a starter for generating new microservices, it does not make much sense to include the very old version of MP. In last week's hangout on 21st Feb, we have agreed to remove 1.x. We also suggested to only keep the latest 2 or 3 or 4 releases (2.2, 3.3, 4.1).

[2022-02-28 17:59] Emily-Jiang commented on #466
@rdebusscher the wiki is still used. The certification is a formal process to claim for compatibility and then add the corresponding runtime to the wiki. In this case, one place to see all compatible impls as the issues raised for compatibility will be closed after the approval. It is difficult to see which runtimes support which MP versions. In the future, we will create a webpage to host the cer

[2022-02-28 21:14] rdebusscher commented on #466
That is an idea but it will be confusing as it will be a mixture of certified runtimes and versions and non certified ones (mainly before MicroProfile became a Working group).
Are there already any of the CCR approved according the new TCK/compatibility process? As you mentioned, after certification is claimed, only then we can add the runtime.

[2022-03-01 07:54] xstefank commented on #466
@Emily-Jiang then I don't understand what I should do in https://wiki.eclipse.org/MicroProfile/Implementation. Can I update it with the WildFly versions that have still open CCRs? I see that OL versions are also still having the CCRs open in https://github.com/microprofile/microprofile-wg/issues. So are we following the CCR process now and wiki is the official listing page of compatible implementa

[2022-03-01 18:07] Emily-Jiang commented on #466
Since the TCK process was standardised last week, we might just use the process to certify the runtimes and then add the correponding runtime to the wiki and the certification page on microprofile.io. We will discuss in today's call to reach concensus. By the way, in the past the wiki is pretty much non-certification driven from day one. We can refine the process.

[2022-03-29 12:28] guykatz opened #467 "starter fails to build on many permutations"
hi;
not being to specific here but recently I tested the starter code with many runtimes and  many MP versions and the results were not good. many build failures during the build process...
thanks

[2022-04-04 14:39] Karm commented on #467
Hello @guykatz,

Not all combinations are valid. Some runtimes support only certain MP versions.
Could you be more specific? Giving a single example might be enough to get us started to see what's wrong.

Open an issue with that example, please.

Cheers
K.

[2022-04-04 14:39] #467 closed

[2022-04-12 18:52] Karm commented on #217
Outadated. Thorntail is at its EOL.

[2022-04-12 18:52] #217 closed

[2022-04-12 18:53] Karm commented on #198
Closing. Out of date. The example selection is already well established.

[2022-04-12 18:53] #198 closed

[2022-04-12 18:54] Karm commented on #98
Closing. Out of date.

[2022-04-12 18:54] #98 closed

[2022-04-12 18:54] Karm commented on #17
Closing. Out of date.

[2022-04-12 18:54] #17 closed

[2022-06-15 10:43] xstefank commented on #466
@Karm  Working on the CCR right now.

[2022-08-11 17:20] Karm commented on #460
Resolved. The option exists.

[2022-08-11 17:20] #460 closed

[2022-08-11 17:20] Karm commented on #459
Fixed by #471

[2022-08-11 17:20] #459 closed

[2022-08-11 17:21] Karm commented on #436
Out fo date

[2022-08-11 17:21] #436 closed

[2022-08-11 17:21] Karm commented on #433
Out of date - apparently not a problem for Helidon after all.

[2022-08-11 17:21] #433 closed

[2022-08-11 17:22] #382 closed

[2022-08-11 17:22] Karm commented on #339
@Emily-Jiang Is this still an issue?

[2022-08-11 17:27] Karm commented on #278
Out of date

[2022-08-11 17:27] #278 closed

[2022-08-11 17:27] Karm commented on #273
Out of Date

[2022-08-11 17:27] #273 closed

[2022-08-11 17:27] Karm commented on #229
Out of Date

[2022-08-11 17:27] #229 closed

[2022-08-11 17:29] Karm commented on #171
@Emily-Jiang, @carlosdlr Is this something we would love to have? Is it an outdated requirement?

[2022-08-11 17:29] Karm commented on #161
Out of Date

[2022-08-11 17:29] #161 closed

[2022-08-11 17:30] Karm commented on #135
Out of Date

[2022-08-11 17:30] #135 closed

[2022-08-11 17:30] Karm commented on #122
Out of Date

[2022-08-11 17:30] #122 closed

[2022-08-11 17:30] Karm commented on #121
Out of Date

[2022-08-11 17:30] #121 closed

[2022-08-11 17:31] Karm commented on #102
Out of Date

[2022-08-11 17:31] #102 closed

[2022-08-11 17:31] Karm commented on #52
Out of Date

[2022-08-11 17:31] #52 closed

[2022-08-11 17:32] Karm commented on #29
Out Of Date

[2022-08-11 17:32] #29 closed

[2022-08-11 17:32] Karm commented on #19
TODO: Check if still valid

[2022-08-11 18:56] carlosdlr commented on #171
Yes I think so, can you confirm @Emily-Jiang ? Thanks

[2022-08-12 21:47] ssarraju commented on #457
I see the plugin version as 3.3.2 but still facing the same issue.

[2022-11-09 09:54] soft4rchitecture opened #475 "Project generated should depend on microprofile dependencies only and no microprofile-runtimes dependencies"
Hello there,
I've recently generated a project using microprofile 3.2 specs and quarkus runtime.

## What did I expect
That BOMs and compile-time dependencies be only microprofile ones.
microprofile-runtime dependencies like quarkus  have runtime scope.
## What happened ?
That BOMs and compile-time dependencies are quarkus only .

## Rationale
Actually, the microprofile Specs acts as a Layer betwe

[2022-11-11 08:30] soft4rchitecture commented on #475
What'd you be your take on that ? @Karm @Emily-Jiang
I would be ready to volunteer to implement the PR if needed, but I'd love to argue that point.
Thx a lot for your valuable time :)

[2022-11-14 08:16] soft4rchitecture commented on #475
@ketan  @atoulme  @jponge  @sommer any idea ?
thx a lot for your time

[2022-11-14 09:22] Emily-Jiang commented on #475
@soft4rchitecture feel free to propose a PR. I think @Karm added the support for Quarkus. He might have some thoughts on this. By the way, MicroProfile 3.2 is pretty old. You might want to try out the later version of MicroProfile releases (https://microprofile.io/compatible/5-0/).

[2022-11-14 13:08] soft4rchitecture commented on #475
Hello @Emily-Jiang  thank you for your answer.
Ok I'll do a PR asap!
As far as the MP version is concerned, my current area of work is about Quarkus 2 these days. Quarkus 2 seems to support MP 3.3 at most...
Quarkus 3.Final, due for release by feb 2023,  will support MP 6.0 ...
But obviously such a pattern of declaring APIs as compile dependencies and should probably encompass  all the runtimes an